.title-3 {
  align-self: stretch;
  position: relative;
  line-height: 136.02%;
  font-weight: 600;
}
.heading2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.signup-as {
  position: relative;
  font-size: var(--paragraph-lead-size);
  line-height: 30px;
  color: var(--color-black);
  display: inline-block;
  width: 420px;
}
.divider53 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.doctor,
.helper4 {
  position: relative;
  line-height: 16px;
  cursor: pointer;
}
.helper4 {
  display: inline-block;
  width: 81px;
  flex-shrink: 0;
}
.form-title5,
.left-content16 {
  display: flex;
  align-items: center;
}
.left-content16 {
  width: 642px;
  height: 40px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--text-body-normal-regular-size);
  color: var(--color-slategray-200);
  font-family: var(--headline-4);
}
.form-title5 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 500;
}
.form-titledefault5 {
  align-self: stretch;
  position: relative;
  height: 17px;
}
.icon134 {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.text40 {
  position: relative;
  line-height: 15px;
  font-weight: 500;
}
.control5 {
  position: absolute;
  top: calc(50% - 7.5px);
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.container15 {
  position: absolute;
  width: calc(100% - 66px);
  top: calc(50% - 9px);
  right: 50px;
  left: 16px;
  height: 16px;
  overflow: hidden;
}
.icon-right50,
.select-arrow-icon5 {
  position: absolute;
  top: calc(50% - 6px);
  right: 10px;
  width: 11px;
  height: 11px;
  display: none;
}
.icon-right50 {
  top: calc(50% - 9px);
  right: 16px;
  width: 17px;
  height: 16px;
}
.input12 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-aliceblue);
  height: 46px;
  font-size: var(--components-button-large-size);
  color: var(--color-slategray-100);
}
.form-help-text11 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 12px;
  display: flex;
  align-items: center;
}
.form-help-text10 {
  align-self: stretch;
  position: relative;
  height: 12px;
  display: none;
  font-size: var(--text-caption-2-semi-bold-size);
  color: var(--color-slategray-300);
}
.inputlarge5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.form-help-text14 {
  align-self: stretch;
  position: relative;
  height: 12px;
  font-size: var(--text-caption-2-semi-bold-size);
  color: var(--color-slategray-300);
}
.checkboxsingledefault-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
}
.text-1 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.check1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--typography-caption-size);
}
.text-button1 {
  position: relative;
  line-height: 14px;
  font-weight: 600;
}
.chevron-right-icon1 {
  position: relative;
  width: 14px;
  height: 14px;
  display: none;
}
.btnlarge1,
.elements46 {
  display: flex;
  align-items: center;
}
.elements46 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.btnlarge1 {
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-900);
  padding: var(--padding-base) var(--padding-5xl);
}
.btnlarge1,
.form3,
.x-button1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.x-button1 {
  display: none;
  align-items: flex-end;
  color: var(--primary-contrast);
}
.form3 {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-5xl) 0 0;
  gap: var(--gap-11xl);
  font-size: var(--text-h5-semi-bold-size);
  color: var(--color-darkslategray-100);
}
.delimiter-child3 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
  height: 1px;
}
.or-do-it3 {
  position: relative;
}
.delimiter3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 424px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.group-child27,
.social-item {
  position: relative;
  width: 68px;
  height: 53.32px;
}
.group-child27 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--primary-contrast);
  box-shadow: var(--shadow-shadow-sm);
}
.apple-logo-black-1-icon1 {
  position: absolute;
  top: 15.05px;
  left: 23.93px;
  width: 19.52px;
  height: 23.21px;
  overflow: hidden;
}
.group-child28 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--primary-contrast);
  box-shadow: var(--shadow-shadow-sm);
  width: 68px;
  height: 53.32px;
}
.f1,
.group-child28,
.social12 {
  position: absolute;
}
.f1 {
  top: 4.64px;
  left: 27.05px;
  display: inline-block;
  width: 14.68px;
  height: 44.82px;
}
.social12 {
  top: 42px;
  left: 0;
  width: 424px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--headline-3-size);
  color: var(--color-darkslateblue-100);
}
.social11 {
  align-self: stretch;
  position: relative;
  height: 95.32px;
  display: none;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-slategray-300);
}
.form-registerdefault1 {
  width: 644px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: left;
  color: var(--color-gray-700);
}
.label17 {
  position: relative;
  line-height: 16px;
}
.button32 {
  border-radius: var(--br-71xl);
  background-color: var(--color-gray-900);
  width: 424px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--text-body-normal-regular-size);
  color: var(--color-gray-600);
  font-family: var(--headline-4);
}
.or-do-it4 {
  position: relative;
  letter-spacing: -0.08px;
  line-height: 18px;
  font-weight: 500;
}
.frame-child13 {
  position: relative;
  width: 58px;
  height: 58px;
}
.group-child29 {
  border-radius: var(--br-7xl);
  background-color: var(--primary-contrast);
  box-shadow: var(--shadow-shadow-sm);
}
.group-child29,
.rectangle-wrapper1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
}
.vector-icon25 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 6px);
  width: 13px;
  height: 25px;
}
.group-parent29 {
  position: relative;
  width: 52px;
  height: 52px;
}
.frame-parent67,
.social14 {
  display: flex;
  flex-direction: row;
}
.frame-parent67 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.social14 {
  position: absolute;
  top: 42px;
  left: 0;
  width: 424px;
  align-items: center;
  justify-content: center;
}
.social13 {
  position: relative;
  width: 424px;
  height: 94px;
  font-size: var(--typography-caption-size);
}
.span4 {
  color: var(--color-darkslategray-100);
}
.sign-in1 {
  color: var(--color-gray-900);
}
.label18 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.label-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  text-align: right;
  font-size: var(--text-h5-semi-bold-size);
}
.container14,
.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main2 {
  align-self: stretch;
  height: 882px;
  justify-content: center;
  padding: var(--padding-31xl) 0;
  box-sizing: border-box;
  gap: var(--gap-31xl);
}
.container14 {
  position: absolute;
  top: 43px;
  left: 742px;
  width: 648px;
  height: 858px;
  justify-content: flex-start;
}
.divider-vertical-icon5,
.sidenav-bg-icon3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  max-height: 100%;
}
.sidenav-bg-icon3 {
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.divider-vertical-icon5 {
  right: -1.03px;
  width: 2px;
}
.border45 {
  position: relative;
  background-color: var(--color-mediumslateblue);
  width: 2px;
  height: 24px;
  display: none;
}
.icon138 {
  position: relative;
  width: 16px;
  height: 16px;
}
.account5 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 126px;
  flex-shrink: 0;
  opacity: 0.8;
}
.icon-text45 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.icon-left45 {
  position: relative;
  width: 12px;
  height: 12px;
  display: none;
}
.elements47 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.badgebase45,
.x-badge45 {
  flex-direction: column;
  justify-content: flex-start;
}
.badgebase45 {
  border-radius: var(--br-81xl);
  background-color: var(--color-lavender);
  display: flex;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-3xs);
}
.x-badge45 {
  display: none;
  align-items: flex-start;
  font-size: var(--typography-caption-size);
  color: var(--color-mediumslateblue);
}
.content45 {
  padding: var(--padding-base) var(--padding-5xl);
  gap: var(--gap-3xs);
}
.content45,
.nav-itemdefault45 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-user10 {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-icon18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.indicator5 {
  position: absolute;
  height: 31.51%;
  width: 31.51%;
  top: -1.91%;
  right: -1.91%;
  bottom: 70.4%;
  left: 70.4%;
  border-radius: 50%;
  background-color: var(--color-mediumaquamarine);
  border: 3px solid var(--primary-contrast);
  box-sizing: border-box;
}
.mj5 {
  position: absolute;
  height: 33.85%;
  width: 72.31%;
  top: 32.31%;
  left: 13.85%;
  display: none;
  align-items: center;
  justify-content: center;
}
.avatarmain5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-mediumslateblue);
}
.avatarbase5 {
  position: relative;
  width: 46px;
  height: 46px;
}
.nav-user11 {
  position: absolute;
  top: 821px;
  left: 43px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-23xl);
  text-align: center;
  font-size: var(--paragraph-lead-size);
}
.badgebase48,
.menu10,
.x-badge48 {
  flex-direction: column;
  justify-content: flex-start;
}
.badgebase48 {
  border-radius: var(--br-81xl);
  background-color: var(--color-mistyrose);
  display: flex;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-3xs);
}
.menu10,
.x-badge48 {
  align-items: flex-start;
}
.x-badge48 {
  display: flex;
  font-size: var(--typography-caption-size);
  color: var(--color-salmon);
}
.menu10 {
  position: absolute;
  top: 411px;
  left: 0;
  width: 250px;
  display: none;
}
.divider-horizontal-icon5 {
  position: absolute;
  top: 387px;
  left: 20px;
  width: 210px;
  height: 0;
  display: none;
  opacity: 0.1;
}
.border51 {
  position: relative;
  background-color: var(--primary-contrast);
  width: 2px;
  height: 24px;
}
.messages5 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 126px;
  flex-shrink: 0;
}
.content51,
.x-badge51 {
  display: flex;
  justify-content: flex-start;
}
.x-badge51 {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--typography-caption-size);
}
.content51 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-3xl);
  gap: var(--gap-3xs);
}
.badgebase52,
.menu11,
.x-badge52 {
  flex-direction: column;
  justify-content: flex-start;
}
.badgebase52 {
  border-radius: var(--br-81xl);
  background-color: var(--color-lavender);
  display: none;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-3xs);
}
.menu11,
.x-badge52 {
  align-items: flex-start;
}
.x-badge52 {
  display: flex;
  font-size: var(--typography-caption-size);
  color: var(--color-mediumslateblue);
}
.menu11 {
  position: absolute;
  top: 112px;
  left: 0;
  width: 250px;
  display: none;
}
.vector-icon26 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya21 {
  position: relative;
  line-height: 40px;
}
.button33,
.vector-parent23 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vector-parent23 {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button33 {
  position: absolute;
  top: 167px;
  left: 246px;
  border-radius: var(--br-71xl);
  background-color: var(--color-gray-600);
  width: 178px;
  height: 66px;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--text-h2-bold-size);
  color: var(--black);
  font-family: var(--caption);
}
.welcome-to-vaidhya3,
.your-daily-ai3 {
  position: absolute;
  display: inline-block;
}
.welcome-to-vaidhya3 {
  top: 253px;
  left: 158px;
  font-size: var(--headline-3-size);
  letter-spacing: -0.01em;
  line-height: 48px;
  font-family: var(--headline-4);
  width: 473px;
  height: 53px;
}
.your-daily-ai3 {
  top: 342px;
  left: 274px;
  font-size: var(--paragraph-lead-size);
  line-height: 30px;
  width: 420px;
}
.sidenav-bg2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslategray-400);
}
.button34 {
  position: absolute;
  top: 35px;
  left: 240px;
  border-radius: var(--br-71xl);
  background-color: var(--color-gray-600);
  width: 178px;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--text-h2-bold-size);
  color: var(--black);
  font-family: var(--caption);
}
.group-child30 {
  position: absolute;
  top: 0.02px;
  left: -100px;
  border-radius: var(--br-81xl);
  background-color: var(--color-slateblue);
  width: 100px;
  height: 100px;
  transform: rotate(-0.01deg);
  transform-origin: 0 0;
}
.arrow-left-2-icon18 {
  position: absolute;
  top: -61.99px;
  left: -62.01px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-parent33 {
  position: absolute;
  top: 117.99px;
  left: 139.01px;
  box-shadow: 0 181px 51px transparent, 0 116px 46px rgba(0, 0, 0, 0.01),
    0 65px 39px rgba(0, 0, 0, 0.04), 0 29px 29px rgba(0, 0, 0, 0.06),
    0 7px 16px rgba(0, 0, 0, 0.07), 0 0 0 rgba(0, 0, 0, 0.08);
  width: 100px;
  height: 100px;
  transform: rotate(179.99deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.aside5,
.aside6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.aside5 {
  width: 49.86%;
  right: 50.14%;
  text-align: left;
  font-size: var(--text-h5-semi-bold-size);
  color: var(--primary-contrast);
}
.create-account-as {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  height: 950px;
  overflow: hidden;
  text-align: center;
  font-size: var(--headings-h2-size);
  color: var(--color-slategray-300);
  font-family: var(--headings-h6);
}
