.vector-icon17 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya14 {
  position: relative;
  line-height: 40px;
}
.vector-parent15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button24,
.divider52 {
  background-color: var(--color-gainsboro);
}
.button24 {
  border-radius: var(--br-71xl);
  width: 181px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--body-1-bold-size);
  font-family: var(--caption-2);
}
.divider52 {
  position: relative;
  border-radius: var(--br-11xs);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.home12 {
  position: relative;
  line-height: 16px;
  color: var(--color-slategray-200);
  text-align: center;
}
.helper2,
.home12 {
  cursor: pointer;
}
.ai-diagnostics1,
.blogs7,
.helper2 {
  position: relative;
  line-height: 120%;
}
.ai-diagnostics1 {
  font-size: var(--text-h5-semi-bold-size);
  display: inline-block;
  width: 103px;
  flex-shrink: 0;
}
.helper-parent,
.left-content14 {
  width: 733px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.left-content14 {
  width: 927px;
  align-items: center;
  gap: var(--gap-13xl);
}
.iconsuserline12 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper39 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper38 {
  position: relative;
  width: 44px;
  height: 44px;
}
.frame-wrapper37 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-content-inner11,
.nav-content14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-content14 {
  width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.divider53 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons16pxoptions1,
.nav15 {
  position: absolute;
  overflow: hidden;
}
.nav15 {
  top: 1px;
  left: 0;
  background-color: var(--color-gray-600);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--headline-2);
}
.icons16pxoptions1 {
  height: 0.33%;
  width: 14.68%;
  top: 99.59%;
  right: 0;
  bottom: 0.08%;
  left: 85.32%;
  max-width: 100%;
  max-height: 100%;
}
.title30 {
  position: absolute;
  top: calc(50% - 713.75px);
  left: 33.03%;
  line-height: 24px;
  font-weight: 600;
}
.icons24pxshopping-bag1 {
  position: absolute;
  height: 0.49%;
  width: 22.02%;
  top: 99.51%;
  right: 77.98%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.order-type1 {
  position: absolute;
  height: 113.56%;
  width: 8.37%;
  top: -109.94%;
  right: 63.63%;
  bottom: 96.38%;
  left: 28%;
  display: none;
  font-size: var(--text-h5-semi-bold-size);
  color: var(--colors-text-dark-182135-100);
  font-family: var(--text-h4-bold);
}
.base11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.about12,
.containers11,
.products11 {
  position: absolute;
  width: 8.14%;
  top: calc(50% - 152.5px);
  left: 15.42%;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.about12,
.products11 {
  width: 16.31%;
  top: calc(50% - 94.79px);
  left: 63.44%;
  line-height: 24px;
  font-weight: 600;
}
.about12 {
  width: 11.1%;
  top: calc(50% - 40.79px);
}
.social-networkinstagram-icon13 {
  position: absolute;
  height: 10.85%;
  top: 89.15%;
  right: 314px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon13,
.social-networklinkedin-icon13,
.social-networktwitter-icon13 {
  position: absolute;
  height: 10.85%;
  top: 89.15%;
  right: 354px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon13,
.social-networklinkedin-icon13 {
  right: 394px;
}
.social-networkfacebook-icon13 {
  right: 434px;
}
.follow-us22,
.follow-us23 {
  position: absolute;
  top: calc(50% + 11.21px);
  right: 0;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 166px;
}
.follow-us23 {
  top: calc(50% - 94.79px);
  right: 288px;
}
.helloforpeoplestud11 {
  position: relative;
  line-height: 25px;
  display: inline-block;
  width: 263px;
}
.helloforpeoplestud-parent11 {
  position: absolute;
  top: 41px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-400);
  font-family: var(--font-lato);
}
.products-parent11 {
  position: absolute;
  width: 31.53%;
  top: calc(50% - 92.5px);
  right: 53.06%;
  left: 15.42%;
  height: 189.58px;
  font-size: var(--text-h4-bold-size);
  color: var(--color-darkslategray-500);
  font-family: var(--caption-2);
}
.background29 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-900);
}
.google-play-icon11 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 62.15px);
  width: 126.65px;
  height: 31px;
}
.badgegoogle-play-market45px13 {
  position: relative;
  width: 165px;
  height: 45px;
}
.badgegoogle-play-market45px-wrapper10 {
  position: absolute;
  top: 105px;
  left: 1036px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent16 {
  position: absolute;
  top: 844px;
  left: 0;
  width: 1440px;
  height: 413px;
  font-size: var(--body-1-bold-size);
  color: var(--color-gray-900);
}
.base12,
.rectangle {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.base12 {
  height: 99.83%;
  top: 0.17%;
  background-color: var(--primary-contrast);
}
.rectangle {
  height: 100%;
  top: 0;
  background-color: #f6f7fa;
}
.fill-22-icon {
  height: 184.82%;
  width: 275.57%;
  top: 0;
  right: -175.57%;
  bottom: -84.82%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.fill-22-icon,
.icon6,
.map {
  position: absolute;
  overflow: hidden;
}
.map {
  height: 100%;
  width: 43.57%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 56.43%;
  border-radius: var(--br-xl);
}
.icon6 {
  height: 7.92%;
  width: 3.43%;
  top: 46.04%;
  right: 20.07%;
  bottom: 46.04%;
  left: 76.5%;
  max-width: 100%;
  max-height: 100%;
}
.rectangle1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 23px;
  background-color: var(--color-gray-900);
}
.button26 {
  position: absolute;
  top: calc(50% - 10px);
  left: 14.41%;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.button25,
.rectangle2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.button25 {
  height: 16.79%;
  width: 34.78%;
  top: 83.21%;
  right: 65.22%;
  text-align: center;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--primary-contrast);
}
.rectangle2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightsteelblue);
  box-sizing: border-box;
}
.placeholder1 {
  position: absolute;
  top: 12px;
  left: 15px;
  line-height: 22px;
}
.input,
.input1,
.input2,
.inputdefault {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.inputdefault {
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.input,
.input1,
.input2 {
  height: 16.79%;
  top: 55.47%;
  bottom: 27.74%;
}
.input1,
.input2 {
  width: 47.83%;
  top: 27.74%;
  bottom: 55.47%;
  left: 52.17%;
}
.input2 {
  right: 52.17%;
  left: 0;
}
.dropdown {
  position: absolute;
  top: calc(50% - 11px);
  left: 15px;
  line-height: 22px;
}
.shape-icon {
  position: absolute;
  height: 30.88%;
  width: 50%;
  top: 37.5%;
  right: 25%;
  bottom: 31.62%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icondown {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icon7,
.icondown,
.input3 {
  position: absolute;
}
.icon7 {
  top: calc(50% - 10px);
  right: 15px;
  width: 20px;
  height: 20px;
}
.input3 {
  height: 16.79%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 83.21%;
  left: 0;
  color: var(--color-darkslategray-500);
}
.contact-us10,
.form {
  position: absolute;
  left: 16.43%;
}
.form {
  height: 45.21%;
  width: 32.86%;
  top: 38.28%;
  right: 50.71%;
  bottom: 16.5%;
}
.contact-us10 {
  top: calc(50% - 202px);
  font-size: var(--text-h1-bold-size);
  line-height: 38px;
  font-weight: 500;
  color: var(--color-darkslategray-500);
}
.contacts {
  position: absolute;
  top: 166px;
  left: 20px;
  width: 1400px;
  height: 606px;
  overflow: hidden;
  color: var(--color-lightslategray);
}
.contact-us-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 154px;
  height: 237.8px;
}
.contact-us9 {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  height: 1257px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-h4-bold-size);
  color: var(--black);
  font-family: var(--h2);
}
