.group-child12 {
  position: absolute;
  top: 0.01px;
  left: -50px;
  border-radius: var(--br-81xl);
  background-color: var(--color-slateblue);
  width: 50px;
  height: 50px;
  transform: rotate(-0.01deg);
  transform-origin: 0 0;
}
.arrow-left-2-icon11 {
  position: absolute;
  top: -31px;
  left: -31.01px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.rectangle-parent15 {
  position: relative;
  box-shadow: 0 181px 51px transparent, 0 116px 46px rgba(0, 0, 0, 0.01),
    0 65px 39px rgba(0, 0, 0, 0.04), 0 29px 29px rgba(0, 0, 0, 0.06),
    0 7px 16px rgba(0, 0, 0, 0.07), 0 0 0 rgba(0, 0, 0, 0.08);
  width: 50px;
  height: 50px;
  transform: rotate(179.99deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.vector-icon13 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya12 {
  position: relative;
  line-height: 40px;
}
.vector-parent11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.iconsstarfilled1 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.button15,
.divider35 {
  background-color: var(--color-gainsboro);
}
.button15 {
  border-radius: var(--br-71xl);
  width: 169px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--body-1-bold-size);
  color: var(--black);
  font-family: var(--caption-2);
}
.divider35 {
  position: relative;
  border-radius: var(--br-11xs);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.home10 {
  position: relative;
  line-height: 16px;
  cursor: pointer;
}
.left-content10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.chat-icon-clipart-transparent7 {
  position: absolute;
  top: 0;
  left: -29.62px;
  width: 29.62px;
  height: 32.25px;
  object-fit: cover;
}
.chat-icon-clipart-transparent-wrapper5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.62px;
  height: 32.25px;
}
.group-wrapper14 {
  position: relative;
  width: 29.62px;
  height: 32.25px;
}
.group-wrapper13 {
  position: absolute;
  top: 13.5px;
  left: 56.87px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper28 {
  position: relative;
  width: 44px;
  height: 39px;
}
.button-icon-only-regular7 {
  position: absolute;
  top: 0.28px;
  left: 0;
  border-radius: var(--br-10xs);
  width: 6.62px;
  height: 4.95px;
}
.div22 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.badge-primary7 {
  position: absolute;
  top: 0;
  left: 3.31px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-slategray-200);
  box-sizing: border-box;
  width: 3.68px;
  height: 2.75px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-7xs);
}
.button-icon-only-regular-parent5 {
  position: relative;
  width: 6.99px;
  height: 5.23px;
}
.frame-parent32 {
  width: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.frame-wrapper27 {
  position: absolute;
  top: 0;
  left: 112px;
  width: 112px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.nav-content-inner7 {
  position: relative;
  width: 112px;
  height: 55px;
  text-align: left;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--primary-contrast);
  font-family: var(--headings-h6);
}
.nav-content10 {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.divider36 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav11 {
  background-color: var(--color-gray-600);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.personal-info6 {
  flex: 1;
  position: relative;
  line-height: 16px;
}
.iconscredit-cardline-container,
.iconslockline-parent3 {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.iconslockline-parent3 {
  color: var(--color-gray-1000);
}
.iconscredit-cardline-container {
  cursor: pointer;
}
.iconsbellline11 {
  position: relative;
  width: 16px;
  height: 16px;
}
.categories5,
.iconsbellline-parent9 {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.categories5 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-600);
  box-shadow: var(--depth-4);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 256px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-13xl);
  gap: var(--gap-21xl);
}
.login-and-security7 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 56px;
}
.label9 {
  position: relative;
  line-height: 16px;
}
.button16,
.title27 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button16 {
  border-radius: var(--br-71xl);
  border: 2px solid var(--color-gainsboro);
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  opacity: 0;
  font-size: var(--text-h5-semi-bold-size);
}
.title27 {
  align-self: stretch;
  justify-content: space-between;
}
.password-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.button17,
.frame-parent33 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button17 {
  border-radius: var(--br-71xl);
  border: 2px solid var(--color-gainsboro);
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  text-align: center;
  color: var(--color-gray-1000);
  font-family: var(--headline-2);
}
.frame-parent33 {
  width: 735px;
  justify-content: space-between;
  font-size: var(--text-h5-semi-bold-size);
  color: var(--color-black);
}
.login-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.divider37 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.social-accounts {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  width: 735px;
}
.facebook {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.not-connected {
  position: relative;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  line-height: 20px;
  color: var(--color-slategray-200);
}
.social-account-01 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.divider38 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-gainsboro);
  width: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.social-account-01-parent {
  width: 735px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--text-h5-semi-bold-size);
  color: var(--color-black);
}
.account-info12,
.login12,
.login13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-info12 {
  align-self: stretch;
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--body-1-bold-size);
  font-family: var(--caption-2);
}
.login12,
.login13 {
  flex: 1;
}
.login13 {
  width: 736px;
  gap: var(--gap-45xl);
}
.login12 {
  text-align: center;
  font-size: var(--headline-2-size);
  color: var(--color-gray-1000);
}
.payment-methods8,
.profile-setting8 {
  background-color: var(--color-gray-600);
  display: flex;
  align-items: flex-start;
}
.payment-methods8 {
  width: 1120px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-61xl) 0 var(--padding-117xl);
  box-sizing: border-box;
  gap: var(--gap-109xl);
}
.profile-setting8 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-141xl);
  text-align: left;
  font-size: var(--text-h5-semi-bold-size);
}
.divider40 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.base9,
.desktopmy-payments6 {
  position: absolute;
  top: 0;
  left: 0;
}
.desktopmy-payments6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.base9 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-whitesmoke-200);
}
.about10,
.containers9,
.products9 {
  position: absolute;
  width: 8.14%;
  top: calc(50% - 153px);
  left: 15.42%;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.about10,
.products9 {
  width: 16.31%;
  top: calc(50% - 97.27px);
  left: 63.44%;
  line-height: 24px;
  font-weight: 600;
}
.about10 {
  width: 11.1%;
  top: calc(50% - 43.27px);
}
.social-networkinstagram-icon9 {
  position: absolute;
  height: 11.06%;
  top: 88.94%;
  right: 314px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon9,
.social-networklinkedin-icon9,
.social-networktwitter-icon9 {
  position: absolute;
  height: 11.06%;
  top: 88.94%;
  right: 354px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon9,
.social-networklinkedin-icon9 {
  right: 394px;
}
.social-networkfacebook-icon9 {
  right: 434px;
}
.follow-us18,
.follow-us19 {
  position: absolute;
  top: calc(50% + 8.73px);
  right: 0;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 166px;
}
.follow-us19 {
  top: calc(50% - 97.27px);
  right: 288px;
}
.helloforpeoplestud9 {
  position: relative;
  line-height: 25px;
  display: inline-block;
  width: 263px;
}
.helloforpeoplestud-parent7 {
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-400);
  font-family: var(--font-lato);
}
.products-parent7 {
  position: absolute;
  width: 31.53%;
  top: calc(50% - 93px);
  right: 53.06%;
  left: 15.42%;
  height: 194.54px;
  font-size: var(--text-h4-bold-size);
  color: var(--color-darkslategray-500);
  font-family: var(--caption-2);
}
.background27,
.base-parent7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background27 {
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-900);
}
.google-play-icon9 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 62.15px);
  width: 126.65px;
  height: 31px;
}
.badgegoogle-play-market45px9 {
  position: relative;
  width: 165px;
  height: 45px;
}
.badgegoogle-play-market45px-wrapper6 {
  position: absolute;
  top: 105px;
  left: 1036px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent12 {
  position: absolute;
  top: 1183px;
  left: 0;
  width: 1440px;
  height: 432px;
  text-align: left;
  font-size: var(--body-1-bold-size);
  color: var(--color-gray-900);
  font-family: var(--h2);
}
.patient-login-security {
  position: relative;
  width: 100%;
  height: 1615px;
  text-align: center;
  font-size: var(--text-h4-bold-size);
  color: var(--color-slategray-200);
  font-family: var(--headline-2);
}
