.group-child11 {
  position: absolute;
  top: 0.01px;
  left: -64.99px;
  border-radius: var(--br-81xl);
  background-color: var(--color-slateblue);
  width: 64.99px;
  height: 59.99px;
  transform: rotate(-0.01deg);
  transform-origin: 0 0;
}
.arrow-left-2-icon10 {
  position: absolute;
  top: -37.19px;
  left: -40.3px;
  width: 15.6px;
  height: 14.4px;
  overflow: hidden;
}
.rectangle-parent14 {
  position: relative;
  box-shadow: 0 181px 51px transparent, 0 116px 46px rgba(0, 0, 0, 0.01),
    0 65px 39px rgba(0, 0, 0, 0.04), 0 29px 29px rgba(0, 0, 0, 0.06),
    0 7px 16px rgba(0, 0, 0, 0.07), 0 0 0 rgba(0, 0, 0, 0.08);
  width: 64.99px;
  height: 59.99px;
  transform: rotate(179.99deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.vector-icon12 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya11 {
  position: relative;
  line-height: 40px;
}
.vector-parent10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.iconsstarfilled {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.button10,
.divider30 {
  background-color: var(--color-gainsboro);
}
.button10 {
  border-radius: var(--br-71xl);
  width: 169px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--body-1-bold-size);
  color: var(--black);
  font-family: var(--caption-2);
}
.divider30 {
  position: relative;
  border-radius: var(--br-11xs);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.home9 {
  position: relative;
  line-height: 16px;
  cursor: pointer;
}
.left-content9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.chat-icon-clipart-transparent6 {
  position: absolute;
  top: 0;
  left: -29.62px;
  width: 29.62px;
  height: 32.25px;
  object-fit: cover;
}
.chat-icon-clipart-transparent-wrapper4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.62px;
  height: 32.25px;
}
.group-wrapper12 {
  position: relative;
  width: 29.62px;
  height: 32.25px;
}
.group-wrapper11 {
  position: absolute;
  top: 13.5px;
  left: 56.87px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper26 {
  position: relative;
  width: 44px;
  height: 39px;
}
.button-icon-only-regular6 {
  position: absolute;
  top: 0.28px;
  left: 0;
  border-radius: var(--br-10xs);
  width: 6.62px;
  height: 4.95px;
}
.div20 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.badge-primary6 {
  position: absolute;
  top: 0;
  left: 3.31px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-slategray-200);
  box-sizing: border-box;
  width: 3.68px;
  height: 2.75px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-7xs);
}
.button-icon-only-regular-parent4 {
  position: relative;
  width: 6.99px;
  height: 5.23px;
}
.frame-parent28 {
  width: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.frame-wrapper25 {
  position: absolute;
  top: 0;
  left: 112px;
  width: 112px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.nav-content-inner6 {
  position: relative;
  width: 112px;
  height: 55px;
  text-align: left;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--primary-contrast);
  font-family: var(--headings-h6);
}
.nav-content9 {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.divider31 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav10 {
  background-color: var(--color-gray-600);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.personal-info5 {
  flex: 1;
  position: relative;
  line-height: 16px;
}
.iconslockline-parent2,
.iconsuserline-parent3 {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.iconsuserline-parent3 {
  cursor: pointer;
}
.iconslockline-parent2 {
  color: var(--color-gray-1000);
}
.iconsbellline9 {
  position: relative;
  width: 16px;
  height: 16px;
}
.categories4 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-600);
  box-shadow: var(--depth-4);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-13xl);
  gap: var(--gap-21xl);
}
.login-and-security5 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 56px;
}
.label5 {
  position: relative;
  line-height: 16px;
}
.button11,
.title26 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button11 {
  border-radius: var(--br-71xl);
  border: 2px solid var(--color-gainsboro);
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  opacity: 0;
  font-size: var(--text-h5-semi-bold-size);
}
.title26 {
  align-self: stretch;
  justify-content: space-between;
}
.login11 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  width: 735px;
}
.password {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.last-updated-1 {
  position: relative;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  line-height: 20px;
  color: var(--color-slategray-200);
}
.password-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.button12,
.frame-parent29 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button12 {
  border-radius: var(--br-71xl);
  border: 2px solid var(--color-gainsboro);
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  text-align: center;
  color: var(--color-gray-1000);
  font-family: var(--headline-2);
}
.frame-parent29 {
  width: 735px;
  justify-content: space-between;
  font-size: var(--text-h5-semi-bold-size);
  color: var(--color-black);
}
.login-parent,
.password-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.password-group {
  gap: var(--gap-9xs);
  text-align: left;
  color: var(--color-black);
  font-family: var(--caption-2);
}
.button13,
.frame-parent30,
.frame-parent31 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button13 {
  border-radius: var(--br-71xl);
  border: 2px solid var(--color-gainsboro);
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
}
.frame-parent30,
.frame-parent31 {
  width: 735px;
  justify-content: space-between;
}
.frame-parent30 {
  position: absolute;
  top: 0;
  left: 0;
}
.divider32,
.divider33 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-gainsboro);
  overflow: hidden;
  flex-shrink: 0;
}
.divider32 {
  height: 70px;
  text-align: center;
  font-size: var(--text-h5-semi-bold-size);
  font-family: var(--headline-2);
}
.divider33 {
  height: 1px;
}
.account-info11,
.login10,
.login9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-info11 {
  align-self: stretch;
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--body-1-bold-size);
  font-family: var(--caption-2);
}
.login10,
.login9 {
  flex: 1;
}
.login10 {
  width: 736px;
  gap: var(--gap-45xl);
}
.login9 {
  text-align: center;
  font-size: var(--headline-2-size);
  color: var(--color-gray-1000);
}
.payment-methods7,
.profile-setting7 {
  background-color: var(--color-gray-600);
  display: flex;
  align-items: flex-start;
}
.payment-methods7 {
  width: 1120px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-61xl) 0 var(--padding-117xl);
  box-sizing: border-box;
  gap: var(--gap-109xl);
}
.profile-setting7 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-141xl);
  text-align: left;
  font-size: var(--text-h5-semi-bold-size);
}
.divider34 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.base8,
.desktopmy-payments5 {
  position: absolute;
  top: 0;
  left: 0;
}
.desktopmy-payments5 {
  height: 1098px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.base8 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-whitesmoke-200);
}
.about9,
.containers8,
.products8 {
  position: absolute;
  width: 8.14%;
  top: calc(50% - 153px);
  left: 15.42%;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.about9,
.products8 {
  width: 16.31%;
  top: calc(50% - 97.27px);
  left: 63.44%;
  line-height: 24px;
  font-weight: 600;
}
.about9 {
  width: 11.1%;
  top: calc(50% - 43.27px);
}
.social-networkinstagram-icon8 {
  position: absolute;
  height: 11.06%;
  top: 88.94%;
  right: 314px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon8,
.social-networklinkedin-icon8,
.social-networktwitter-icon8 {
  position: absolute;
  height: 11.06%;
  top: 88.94%;
  right: 354px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon8,
.social-networklinkedin-icon8 {
  right: 394px;
}
.social-networkfacebook-icon8 {
  right: 434px;
}
.follow-us16,
.follow-us17 {
  position: absolute;
  top: calc(50% + 8.73px);
  right: 0;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 166px;
}
.follow-us17 {
  top: calc(50% - 97.27px);
  right: 288px;
}
.helloforpeoplestud8 {
  position: relative;
  line-height: 25px;
  display: inline-block;
  width: 263px;
}
.helloforpeoplestud-parent6 {
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-400);
  font-family: var(--font-lato);
}
.products-parent6 {
  position: absolute;
  width: 31.53%;
  top: calc(50% - 93px);
  right: 53.06%;
  left: 15.42%;
  height: 194.54px;
  font-size: var(--text-h4-bold-size);
  color: var(--color-darkslategray-500);
  font-family: var(--caption-2);
}
.background26,
.base-parent6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background26 {
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-900);
}
.google-play-icon8 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 62.15px);
  width: 126.65px;
  height: 31px;
}
.badgegoogle-play-market45px8 {
  position: relative;
  width: 165px;
  height: 45px;
}
.badgegoogle-play-market45px-wrapper5 {
  position: absolute;
  top: 105px;
  left: 1036px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent11 {
  position: absolute;
  top: 1098px;
  left: 0;
  width: 1440px;
  height: 432px;
  text-align: left;
  font-size: var(--body-1-bold-size);
  color: var(--color-gray-900);
  font-family: var(--h2);
}
.doctor-login-security {
  position: relative;
  width: 100%;
  height: 1530px;
  text-align: center;
  font-size: var(--text-h4-bold-size);
  color: var(--color-slategray-200);
  font-family: var(--headline-2);
}
