.vector-icon2 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya2 {
  position: relative;
  line-height: 40px;
}
.vector-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--black);
  font-family: var(--caption);
}
.divider,
.home {
  position: relative;
}
.divider {
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.home {
  line-height: 16px;
}
.left-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.shopping-cart-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-icon-only-regular {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.div6 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.badge-primary {
  position: absolute;
  top: 0;
  left: 18px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-slategray-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-7xs);
}
.button-icon-only-regular-parent,
.iconsuserline {
  position: relative;
  width: 38px;
  height: 38px;
}
.iconsuserline {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper7,
.iconsuserline-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-wrapper7 {
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper6 {
  position: relative;
  width: 44px;
  height: 44px;
}
.group-parent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.nav-content-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--headings-h6);
}
.nav-content {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.divider1 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons16pxoptions,
.nav {
  position: absolute;
  overflow: hidden;
}
.nav {
  top: 0;
  left: 0;
  background-color: var(--color-gray-600);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-slategray-200);
  font-family: var(--headline-4);
}
.icons16pxoptions {
  height: 1.62%;
  width: 14.68%;
  top: 97.97%;
  right: 0;
  bottom: 0.41%;
  left: 85.32%;
  max-width: 100%;
  max-height: 100%;
}
.title4 {
  position: absolute;
  top: calc(50% - 333.9px);
  left: 33.03%;
  line-height: 24px;
  font-weight: 600;
}
.icons24pxshopping-bag {
  position: absolute;
  height: 2.43%;
  width: 22.02%;
  top: 97.57%;
  right: 77.98%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.order-type {
  position: absolute;
  height: 23.06%;
  width: 8.37%;
  top: -19.44%;
  right: 63.63%;
  bottom: 96.38%;
  left: 28%;
  display: none;
  font-size: var(--caption-size);
}
.icons16pxoptions1 {
  position: absolute;
  height: 66.67%;
  width: 7.11%;
  top: 16.67%;
  right: 0;
  bottom: 16.67%;
  left: 92.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.title5 {
  position: absolute;
  top: calc(50% - 12px);
  left: 16%;
  line-height: 24px;
}
.icons24pxlocation {
  position: absolute;
  height: 100%;
  width: 10.67%;
  top: 0;
  right: 89.33%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.location {
  position: relative;
  width: 248.72px;
  height: 24px;
}
.icons16pxoptions2 {
  position: absolute;
  height: 66.67%;
  width: 12.4%;
  top: 16.67%;
  right: 0;
  bottom: 16.67%;
  left: 87.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.title6 {
  position: absolute;
  top: calc(50% - 12px);
  left: 27.91%;
  line-height: 24px;
}
.icons24pxcoupon {
  position: absolute;
  height: 100%;
  width: 18.6%;
  top: 0;
  right: 81.4%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.discount {
  position: relative;
  width: 142.6px;
  height: 24px;
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
}
.placeholder {
  position: absolute;
  top: 12px;
  left: 48px;
  line-height: 24px;
  display: inline-block;
  width: 338px;
}
.icons20pxsearch {
  position: absolute;
  top: 14px;
  left: 16px;
  width: 20px;
  height: 20px;
}
.input-fieldsicon-inputsmall {
  position: relative;
  width: 467px;
  height: 48px;
  color: var(--color-dimgray);
  font-family: var(--text-body-normal-regular);
}
.buttons-icon {
  position: relative;
  width: 53.06px;
  height: 48px;
}
.location-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-49xl);
}
.dr-ramakanth-inner {
  position: absolute;
  top: 173px;
  left: 163px;
  width: 1114.25px;
  height: 48px;
  font-size: var(--caption-size);
  font-family: var(--caption);
}
.dr-ramakanth-child {
  position: absolute;
  top: 387px;
  left: 163px;
  border-radius: var(--br-xl);
  background-color: var(--color-slategray-200);
  width: 541px;
  height: 496px;
}
.span {
  color: var(--color-dimgray);
}
.text4 {
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 24px;
}
.bounding-box20,
.icon21 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icon21 {
  height: 95.83%;
  top: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons24pxstar,
.item-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.item-1 {
  top: 629px;
  left: 800px;
  width: 118px;
}
.mbbs-md-skin {
  margin: 0;
}
.body-text,
.title7 {
  position: absolute;
  display: inline-block;
}
.body-text {
  top: 557px;
  left: 800px;
  line-height: 24px;
  color: var(--color-dimgray);
  width: 480px;
}
.title7 {
  top: 457px;
  left: 788px;
  font-size: var(--headline-4-size);
  line-height: 40px;
  width: 403px;
}
.dr-ramakanth-item {
  position: absolute;
  top: 1019px;
  left: 302px;
  border-radius: var(--br-81xl);
  background-color: #c4c4c4;
  width: 66px;
  height: 2px;
}
.background1,
.background2 {
  position: absolute;
  height: calc(100% - 2856px);
  width: calc(100% - 1198px);
  top: 704px;
  right: 423px;
  bottom: 2152px;
  left: 775px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-900);
}
.background2 {
  top: 768px;
  bottom: 2088px;
}
.body-text1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 97px;
}
.buttonmediumtext {
  position: absolute;
  height: 1.38%;
  width: 16.81%;
  top: 26.66%;
  right: 24.1%;
  bottom: 71.96%;
  left: 59.1%;
  color: var(--color-white);
}
.you-may-also {
  position: absolute;
  top: 1586px;
  left: 163px;
  font-size: var(--headline-4-size);
  letter-spacing: -0.01em;
  line-height: 40px;
  font-family: var(--headline-4);
  color: var(--color-black);
}
.image-icon4 {
  position: absolute;
  height: 17.13%;
  width: 37.78%;
  top: 13.36%;
  right: 51.11%;
  bottom: 69.51%;
  left: 11.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.left-arrow {
  border-radius: var(--br-21xl);
  padding: var(--padding-5xs);
}
.arrows,
.left-arrow,
.right-arrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.right-arrow {
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-gainsboro);
  padding: var(--padding-5xs);
}
.arrows {
  position: absolute;
  top: 2191px;
  left: 80px;
  gap: 1200px;
}
.buttonmediumtext1 {
  position: absolute;
  height: 1.38%;
  width: 16.81%;
  top: 24.62%;
  right: 24.1%;
  bottom: 74%;
  left: 59.1%;
  color: var(--color-white);
}
.certifications1 {
  font-family: var(--text-body-normal-regular);
}
.span1 {
  font-weight: 300;
}
.board-certified-in {
  margin: 0;
  font-weight: 300;
}
.certifications-board-certifie-container {
  position: absolute;
  top: 955px;
  left: 216px;
  line-height: 40px;
  color: var(--color-black);
  display: inline-block;
  width: 1054px;
  height: 375px;
}
.group-child2 {
  position: absolute;
  top: 0.02px;
  left: -100px;
  border-radius: var(--br-81xl);
  background-color: var(--color-slateblue);
  width: 100px;
  height: 100px;
  transform: rotate(-0.01deg);
  transform-origin: 0 0;
}
.arrow-left-2-icon1 {
  position: absolute;
  top: -61.99px;
  left: -62.01px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-parent5 {
  position: absolute;
  top: 117.99px;
  left: 139.01px;
  box-shadow: 0 181px 51px transparent, 0 116px 46px rgba(0, 0, 0, 0.01),
    0 65px 39px rgba(0, 0, 0, 0.04), 0 29px 29px rgba(0, 0, 0, 0.06),
    0 7px 16px rgba(0, 0, 0, 0.07), 0 0 0 rgba(0, 0, 0, 0.08);
  width: 100px;
  height: 100px;
  transform: rotate(179.99deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.dr-ramakanth {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2896px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-body-normal-regular-size);
  color: var(--colors-text-dark-182135-100);
  font-family: var(--text-body-normal-regular);
}
