.vector-icon5 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya4 {
  position: relative;
  line-height: 40px;
}
.vector-parent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-h2-bold-size);
  color: var(--black);
  font-family: var(--caption);
}
.divider9 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.contact1,
.discover {
  position: relative;
  line-height: 16px;
}
.contact1 {
  cursor: pointer;
}
.left-content3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.shopping-cart-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-icon-only-regular1 {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.div9 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.badge-primary1 {
  position: absolute;
  top: 0;
  left: 18px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-slategray-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-7xs);
}
.button-icon-only-regular-group {
  position: relative;
  width: 38px;
  height: 38px;
}
.frame-wrapper15,
.iconsuserline-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-wrapper15 {
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper14 {
  position: relative;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.group-parent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.nav-content-inner3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--typography-caption-size);
  color: var(--primary-contrast);
  font-family: var(--headings-h6);
}
.nav-content3 {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.divider10 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons16pxoptions1,
.nav3 {
  position: absolute;
  overflow: hidden;
}
.nav3 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-600);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-slategray-200);
  font-family: var(--headline-4);
}
.icons16pxoptions1 {
  height: 1.62%;
  width: 14.68%;
  top: 97.97%;
  right: 0;
  bottom: 0.41%;
  left: 85.32%;
  max-width: 100%;
  max-height: 100%;
}
.title2 {
  position: absolute;
  top: calc(50% - 333.9px);
  left: 33.03%;
  line-height: 24px;
  font-weight: 600;
}
.icons24pxshopping-bag1 {
  position: absolute;
  height: 2.43%;
  width: 22.02%;
  top: 97.57%;
  right: 77.98%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.order-type1 {
  position: absolute;
  height: 23.06%;
  width: 8.37%;
  top: -19.44%;
  right: 63.63%;
  bottom: 96.38%;
  left: 28%;
  display: none;
  font-size: var(--text-h5-semi-bold-size);
}
.icons16pxoptions2 {
  position: absolute;
  height: 66.67%;
  width: 7.11%;
  top: 16.67%;
  right: 0;
  bottom: 16.67%;
  left: 92.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.title3 {
  position: absolute;
  top: calc(50% - 12px);
  left: 16%;
  line-height: 24px;
}
.icons24pxlocation {
  position: absolute;
  height: 100%;
  width: 10.67%;
  top: 0;
  right: 89.33%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.location {
  position: relative;
  width: 248.72px;
  height: 24px;
}
.icons16pxoptions3 {
  position: absolute;
  height: 66.67%;
  width: 12.4%;
  top: 16.67%;
  right: 0;
  bottom: 16.67%;
  left: 87.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.title4 {
  position: absolute;
  top: calc(50% - 12px);
  left: 27.91%;
  line-height: 24px;
}
.icons24pxcoupon {
  position: absolute;
  height: 100%;
  width: 18.6%;
  top: 0;
  right: 81.4%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.discount {
  position: relative;
  width: 142.6px;
  height: 24px;
}
.background2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
}
.placeholder3 {
  position: absolute;
  top: 12px;
  left: 48px;
  line-height: 24px;
  display: inline-block;
  width: 338px;
}
.icons20pxsearch {
  position: absolute;
  top: 14px;
  left: 16px;
  width: 20px;
  height: 20px;
}
.input-fieldsicon-inputsmall {
  position: relative;
  width: 467px;
  height: 48px;
  color: var(--color-dimgray);
  font-family: var(--text-h5-semi-bold);
}
.buttons-icon {
  position: relative;
  width: 53.06px;
  height: 48px;
}
.location-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 68px;
}
.dr-ramakanth-inner {
  position: absolute;
  top: 173px;
  left: 163px;
  width: 1114.25px;
  height: 48px;
  font-size: var(--text-h5-semi-bold-size);
  font-family: var(--caption);
}
.dr-ramakanth-child {
  position: absolute;
  top: 387px;
  left: 163px;
  border-radius: var(--br-xl);
  background-color: var(--color-slategray-200);
  width: 541px;
  height: 496px;
}
.span {
  color: var(--color-dimgray);
}
.text {
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 24px;
}
.bounding-box,
.icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icon3 {
  height: 95.83%;
  top: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons24pxstar,
.item-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.item-1 {
  top: 629px;
  left: 800px;
  width: 118px;
}
.mbbs-md-skin {
  margin: 0;
}
.body-text,
.title5 {
  position: absolute;
  display: inline-block;
}
.body-text {
  top: 557px;
  left: 800px;
  line-height: 24px;
  color: var(--color-dimgray);
  width: 480px;
}
.title5 {
  top: 457px;
  left: 788px;
  font-size: var(--h2-size);
  line-height: 40px;
  width: 403px;
}
.dr-ramakanth-item {
  position: absolute;
  top: 1019px;
  left: 302px;
  border-radius: var(--br-81xl);
  background-color: #c4c4c4;
  width: 66px;
  height: 2px;
}
.background3,
.background4 {
  position: absolute;
  height: calc(100% - 2856px);
  width: calc(100% - 1198px);
  top: 704px;
  right: 423px;
  bottom: 2152px;
  left: 775px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-900);
}
.background4 {
  top: 834px;
  bottom: 2022px;
}
.body-text1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 168px;
}
.buttonmediumtext {
  position: absolute;
  height: 1.38%;
  width: 16.81%;
  top: 29.11%;
  right: 25.97%;
  bottom: 69.51%;
  left: 57.22%;
  color: var(--primary-contrast);
}
.background5 {
  position: absolute;
  height: calc(100% - 2856px);
  width: calc(100% - 1198px);
  top: 768px;
  right: 423px;
  bottom: 2088px;
  left: 775px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-900);
}
.body-text2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 97px;
}
.buttonmediumtext1 {
  position: absolute;
  height: 1.38%;
  width: 16.81%;
  top: 26.83%;
  right: 24.1%;
  bottom: 71.79%;
  left: 59.1%;
  color: var(--primary-contrast);
}
.you-may-also {
  position: absolute;
  top: 1586px;
  left: 163px;
  font-size: var(--h2-size);
  letter-spacing: -0.01em;
  line-height: 40px;
  font-family: var(--headline-4);
  color: var(--color-black);
}
.image-icon {
  position: absolute;
  height: 17.13%;
  width: 37.78%;
  top: 13.36%;
  right: 51.11%;
  bottom: 69.51%;
  left: 11.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.iconsarrow-left-2line {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.left-arrow {
  border-radius: var(--br-21xl);
  padding: var(--padding-5xs);
}
.arrows,
.left-arrow,
.right-arrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.right-arrow {
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-gainsboro);
  padding: var(--padding-5xs);
}
.arrows {
  position: absolute;
  top: 2191px;
  left: 80px;
  gap: 1200px;
}
.buttonmediumtext2 {
  position: absolute;
  height: 1.38%;
  width: 16.81%;
  top: 24.62%;
  right: 24.1%;
  bottom: 74%;
  left: 59.1%;
  color: var(--primary-contrast);
}
.certifications1 {
  font-family: var(--text-h5-semi-bold);
}
.span1 {
  font-weight: 300;
}
.board-certified-in {
  margin: 0;
  font-weight: 300;
}
.certifications-board-certifie-container {
  position: absolute;
  top: 955px;
  left: 216px;
  line-height: 40px;
  color: var(--color-black);
  display: inline-block;
  width: 1054px;
  height: 375px;
}
.group-child4 {
  position: absolute;
  top: 0.02px;
  left: -100px;
  border-radius: var(--br-81xl);
  background-color: var(--color-slateblue);
  width: 100px;
  height: 100px;
  transform: rotate(-0.01deg);
  transform-origin: 0 0;
}
.arrow-left-2-icon3 {
  position: absolute;
  top: -61.99px;
  left: -62.01px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-parent7 {
  position: absolute;
  top: 117.99px;
  left: 139.01px;
  box-shadow: 0 181px 51px transparent, 0 116px 46px rgba(0, 0, 0, 0.01),
    0 65px 39px rgba(0, 0, 0, 0.04), 0 29px 29px rgba(0, 0, 0, 0.06),
    0 7px 16px rgba(0, 0, 0, 0.07), 0 0 0 rgba(0, 0, 0, 0.08);
  width: 100px;
  height: 100px;
  transform: rotate(179.99deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.base4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.about3,
.containers2,
.products2 {
  position: absolute;
  width: 8.14%;
  top: calc(50% - 152.5px);
  left: 15.42%;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.about3,
.products2 {
  width: 16.31%;
  top: calc(50% - 94.79px);
  left: 63.44%;
  line-height: 24px;
  font-weight: 600;
}
.about3 {
  width: 11.1%;
  top: calc(50% - 40.79px);
}
.social-networkinstagram-icon3 {
  position: absolute;
  height: 10.85%;
  top: 89.15%;
  right: 314px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon3,
.social-networklinkedin-icon3,
.social-networktwitter-icon3 {
  position: absolute;
  height: 10.85%;
  top: 89.15%;
  right: 354px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon3,
.social-networklinkedin-icon3 {
  right: 394px;
}
.social-networkfacebook-icon3 {
  right: 434px;
}
.follow-us4,
.follow-us5 {
  position: absolute;
  top: calc(50% + 11.21px);
  right: 0;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 166px;
}
.follow-us5 {
  top: calc(50% - 94.79px);
  right: 288px;
}
.helloforpeoplestud2 {
  position: relative;
  line-height: 25px;
  display: inline-block;
  width: 263px;
}
.helloforpeoplestud-parent1 {
  position: absolute;
  top: 41px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-400);
  font-family: var(--font-lato);
}
.products-parent1 {
  position: absolute;
  width: 31.53%;
  top: calc(50% - 92.5px);
  right: 53.06%;
  left: 15.42%;
  height: 189.58px;
  font-size: var(--text-body-normal-regular-size);
  color: var(--color-darkslategray-500);
  font-family: var(--caption);
}
.background6,
.footer {
  position: absolute;
  left: 0;
}
.footer {
  top: 349px;
  width: 1440px;
  height: 64px;
  overflow: hidden;
}
.background6 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-900);
}
.google-play-icon2 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 62.15px);
  width: 126.65px;
  height: 31px;
}
.badgegoogle-play-market45px3 {
  position: relative;
  width: 165px;
  height: 45px;
}
.badgegoogle-play-market45px-wrapper1 {
  position: absolute;
  top: 254px;
  left: 1047px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent8 {
  position: absolute;
  top: 2483px;
  left: 0;
  width: 1440px;
  height: 413px;
  font-size: var(--text-h2-bold-size);
  color: var(--color-gray-900);
  font-family: var(--h2);
}
.component-5-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--primary-contrast);
  border: 0.5px solid var(--color-silver-100);
  box-sizing: border-box;
}
.component-5-item,
.image-icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-icon1 {
  height: 49.09%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 50.91%;
  left: 0;
  object-fit: cover;
}
.component-5-item {
  height: 12.53%;
  width: 18.82%;
  top: 75.46%;
  right: 6.67%;
  bottom: 12.01%;
  left: 74.51%;
}
.title6 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 219px;
}
.information {
  position: relative;
  width: 219px;
  height: 24px;
}
.icon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons16pxstar {
  position: relative;
  width: 16px;
  height: 16px;
}
.icons16pxstar-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.text1 {
  position: relative;
  line-height: 20px;
}
.frame-parent19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--typography-caption-size);
  color: var(--color-dimgray);
}
.information-parent {
  position: absolute;
  height: 16.71%;
  width: 70.59%;
  top: 64.49%;
  right: 25.49%;
  bottom: 18.8%;
  left: 3.92%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.component-5 {
  position: relative;
  width: 255px;
  height: 383px;
}
.information-container,
.information-group {
  position: absolute;
  height: 16.71%;
  width: 74.12%;
  top: 64.49%;
  right: 21.96%;
  bottom: 18.8%;
  left: 3.92%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.information-container {
  height: 30.29%;
  width: 78.04%;
  top: 66.58%;
  right: 16.08%;
  bottom: 3.13%;
  left: 5.88%;
}
.ant-designpicture-filled {
  position: absolute;
  height: 24.28%;
  width: 36.47%;
  top: 12.27%;
  right: 31.37%;
  bottom: 63.45%;
  left: 32.16%;
  overflow: hidden;
}
.information-parent1 {
  position: absolute;
  top: calc(50% + 60.5px);
  left: calc(50% - 103.5px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.icon24 {
  position: relative;
  width: 20px;
  height: 16px;
}
.component-5-parent {
  position: absolute;
  top: 1725px;
  left: 154px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-family: var(--caption);
}
.dr-ramakanth {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  height: 2896px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-body-normal-regular-size);
  color: var(--colors-text-dark-182135-100);
  font-family: var(--text-h5-semi-bold);
}
