.component-5-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--primary-contrast);
  border: 0.5px solid var(--color-silver-100);
  box-sizing: border-box;
}
.component-5-child5,
.image-icon27 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-icon27 {
  height: 49.09%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 50.91%;
  left: 0;
  object-fit: cover;
}
.component-5-child5 {
  height: 12.53%;
  width: 18.82%;
  top: 75.46%;
  right: 6.67%;
  bottom: 12.01%;
  left: 74.51%;
}
.title55 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 219px;
}
.information17 {
  position: relative;
  width: 219px;
  height: 24px;
}
.bounding-box66,
.icon237 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icon237 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons16pxstar60 {
  position: relative;
  width: 16px;
  height: 16px;
}
.icons16pxstar-parent10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.text53 {
  position: relative;
  line-height: 20px;
}
.frame-parent93 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--color-dimgray);
}
.information-parent10 {
  position: absolute;
  height: 16.71%;
  width: 70.59%;
  top: 64.49%;
  right: 25.49%;
  bottom: 18.8%;
  left: 3.92%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.component-53 {
  position: relative;
  width: 255px;
  height: 383px;
}
.information-parent11,
.information-parent12 {
  position: absolute;
  height: 16.71%;
  width: 74.12%;
  top: 64.49%;
  right: 21.96%;
  bottom: 18.8%;
  left: 3.92%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.information-parent12 {
  height: 30.29%;
  width: 78.04%;
  top: 66.58%;
  right: 16.08%;
  bottom: 3.13%;
  left: 5.88%;
}
.ant-designpicture-filled6 {
  position: absolute;
  height: 24.28%;
  width: 36.47%;
  top: 12.27%;
  right: 31.37%;
  bottom: 63.45%;
  left: 32.16%;
  overflow: hidden;
}
.information-parent13 {
  position: absolute;
  top: calc(50% + 60.5px);
  left: calc(50% - 103.5px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.icon257 {
  position: relative;
  width: 20px;
  height: 16px;
}
.component-5-root {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--text-h4-bold-size);
  color: var(--colors-text-dark-182135-100);
  font-family: var(--caption-2);
}
