.helper-form-icon {
  position: relative;
  width: 268.16px;
  height: 45.12px;
}
.title28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.type-here-icon,
.why-do-you-need-a-helper {
  position: relative;
  width: 218.97px;
  height: 16.03px;
}
.type-here-icon {
  width: 68.5px;
  height: 14.03px;
}
.simple-input27,
.single-input-field26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.single-input-field26 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gainsboro);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
}
.simple-input27 {
  width: 736px;
  height: 72px;
  flex-direction: column;
}
.simple-input28 {
  flex: 1;
  height: 72px;
}
.simple-input-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.enter-hospital-details {
  position: relative;
  width: 168.2px;
  height: 16.51px;
}
.ave-new-york-united-states {
  position: relative;
  width: 222px;
  height: 12.73px;
}
.simple-input29 {
  align-self: stretch;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.family-members-icon {
  position: relative;
  width: 103.15px;
  height: 8.63px;
}
.simple-input30 {
  flex: 1;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.age-of-paitent {
  position: relative;
  width: 94.66px;
  height: 8.63px;
}
.account-info13 {
  align-self: stretch;
  height: 336px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.do-you-require-night-time-assi {
  position: relative;
  width: 306.3px;
  height: 16.67px;
}
.single-input-field30 {
  align-self: stretch;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gainsboro);
  box-sizing: border-box;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
}
.male-or-female {
  position: relative;
  width: 98.22px;
  height: 8.63px;
}
.simple-input-frame,
.social2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.social2 {
  flex-direction: column;
  gap: var(--gap-13xl);
}
.divider41,
.submit1 {
  position: relative;
  flex-shrink: 0;
}
.divider41 {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
}
.submit1 {
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  width: 58px;
  height: 15px;
}
.button20 {
  border-radius: var(--br-71xl);
  background-color: var(--color-gray-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
}
.buttons-child {
  position: relative;
  width: 38px;
  height: 17px;
}
.buttons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.input-text-fields3,
.login15,
.title-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-text-fields3 {
  align-self: stretch;
  gap: var(--gap-29xl);
}
.login15,
.title-parent1 {
  width: 815px;
}
.title-parent1 {
  height: 891px;
  gap: var(--gap-45xl);
}
.login15 {
  height: 871px;
}
.desktopmy-payments-child {
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.divider42 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.base-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about-icon,
.containers-icon,
.products-icon {
  position: absolute;
  width: 6.32%;
  top: calc(50% - 148.04px);
  right: 78.22%;
  left: 15.46%;
  max-width: 100%;
  overflow: hidden;
  height: 21.6px;
}
.about-icon,
.products-icon {
  width: 18.43%;
  top: calc(50% - 94.19px);
  right: 6.01%;
  left: 75.55%;
  height: 11.98px;
}
.about-icon {
  width: 12.64%;
  top: calc(50% - 40.19px);
  right: 11.99%;
  left: 75.37%;
}
.social-networkinstagram-icon10 {
  position: absolute;
  height: 11.43%;
  top: 88.57%;
  right: 242.65px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon10,
.social-networklinkedin-icon10,
.social-networktwitter-icon10 {
  position: absolute;
  height: 11.43%;
  top: 88.57%;
  right: 282.65px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon10,
.social-networklinkedin-icon10 {
  right: 322.65px;
}
.social-networkfacebook-icon10 {
  right: 362.65px;
}
.follow-us-icon,
.follow-us-icon1 {
  position: absolute;
  top: calc(50% + 11.81px);
  right: 0;
  width: 94.09px;
  height: 16.06px;
}
.follow-us-icon1 {
  top: calc(50% - 93.66px);
  right: 294.34px;
  width: 87.75px;
  height: 11.46px;
}
.helloforpeoplestud-icon,
.icon4 {
  position: relative;
  width: 177.42px;
  height: 15.62px;
}
.icon4 {
  width: 109.31px;
  height: 12.45px;
}
.new-york-61-west-ro {
  position: relative;
  width: 190.18px;
  height: 14.82px;
}
.helloforpeoplestud-parent8 {
  position: absolute;
  top: 25.84px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.products-parent8 {
  position: absolute;
  width: 26.57%;
  top: calc(50% - 86.84px);
  right: 58.01%;
  left: 15.42%;
  height: 188.38px;
}
.base-parent8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.badgegoogle-play-market45px10 {
  position: relative;
  width: 165px;
  height: 45px;
}
.badgegoogle-play-market45px-wrapper7 {
  position: absolute;
  top: 105px;
  left: 1036px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent13 {
  position: relative;
  width: 1440px;
  height: 432px;
}
.desktopmy-payments7 {
  position: absolute;
  top: calc(50% - 664px);
  left: 0;
  width: 1440px;
  height: 1356px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-content-item {
  position: relative;
  width: 142px;
  height: 80px;
  cursor: pointer;
}
.vaidhya-icon,
.vector-icon14 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya-icon {
  width: 82.41px;
  height: 19.73px;
}
.vector-parent12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.divider43 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.home-icon {
  position: relative;
  width: 43.78px;
  height: 11.39px;
  cursor: pointer;
}
.blog-icon,
.contact-icon,
.discover-icon {
  position: relative;
  width: 65.87px;
  height: 11.71px;
  cursor: pointer;
}
.blog-icon,
.contact-icon {
  width: 31.01px;
  height: 15.23px;
}
.contact-icon {
  width: 61.98px;
  height: 11.58px;
}
.left-content11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.iconsuserline9 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper31,
.iconsuserline-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-wrapper31 {
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper30 {
  position: relative;
  width: 44px;
  height: 44px;
}
.frame-wrapper29 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-content-inner8 {
  position: relative;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.nav-content11,
.nav12 {
  width: 1440px;
  display: flex;
}
.nav-content11 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.nav12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-600);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.helper1 {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  height: 1588px;
  text-align: left;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--primary-contrast);
  font-family: var(--headings-h6);
}
