.group-child9 {
  position: absolute;
  top: 0.01px;
  left: -50px;
  border-radius: var(--br-81xl);
  background-color: var(--color-slateblue);
  width: 50px;
  height: 50px;
  transform: rotate(-0.01deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.arrow-left-2-icon8 {
  position: absolute;
  top: -31px;
  left: -31.01px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.rectangle-parent12 {
  position: relative;
  box-shadow: 0 181px 51px transparent, 0 116px 46px rgba(0, 0, 0, 0.01),
    0 65px 39px rgba(0, 0, 0, 0.04), 0 29px 29px rgba(0, 0, 0, 0.06),
    0 7px 16px rgba(0, 0, 0, 0.07), 0 0 0 rgba(0, 0, 0, 0.08);
  width: 50px;
  height: 50px;
  transform: rotate(179.99deg);
  transform-origin: 0 0;
}
.vector-icon10 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya9 {
  position: relative;
  line-height: 40px;
}
.vector-parent8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--body-1-bold-size);
  color: var(--black);
  font-family: var(--caption-2);
}
.divider23 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.home7 {
  position: relative;
  line-height: 16px;
  cursor: pointer;
}
.left-content7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.chat-icon-clipart-transparent4 {
  position: absolute;
  top: 0;
  left: -29.62px;
  width: 29.62px;
  height: 32.25px;
  object-fit: cover;
}
.chat-icon-clipart-transparent-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.62px;
  height: 32.25px;
}
.group-wrapper8 {
  position: relative;
  width: 29.62px;
  height: 32.25px;
}
.group-wrapper7 {
  position: absolute;
  top: 13.5px;
  left: 56.87px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper21 {
  position: relative;
  width: 44px;
  height: 39px;
}
.button-icon-only-regular4 {
  position: absolute;
  top: 0.28px;
  left: 0;
  border-radius: var(--br-10xs);
  width: 6.62px;
  height: 4.95px;
}
.div16 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.badge-primary4 {
  position: absolute;
  top: 0;
  left: 3.31px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-slategray-200);
  box-sizing: border-box;
  width: 3.68px;
  height: 2.75px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-7xs);
}
.button-icon-only-regular-parent2 {
  position: relative;
  width: 6.99px;
  height: 5.23px;
}
.frame-parent25 {
  width: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.frame-wrapper20 {
  position: absolute;
  top: 0;
  left: 112px;
  width: 112px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-wrapper19 {
  position: relative;
  width: 112px;
  height: 55px;
}
.nav-content-inner4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--primary-contrast);
  font-family: var(--headings-h6);
}
.nav-content7 {
  position: absolute;
  top: 9px;
  left: -131px;
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.nav-content-container {
  position: relative;
  width: 1125px;
  height: 112px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconslockline-container {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  cursor: pointer;
}
.iconscredit-cardline {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.my-plans {
  flex: 1;
  position: relative;
  line-height: 16px;
}
.iconscredit-cardline-parent {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.iconsbellline4 {
  position: relative;
  width: 16px;
  height: 16px;
}
.iconsbellline-parent2 {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--color-black);
}
.categories2 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-600);
  box-shadow: var(--depth-4);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-13xl);
  gap: var(--gap-21xl);
}
.title16 {
  position: absolute;
  width: 100%;
  top: calc(50% - 16px);
  left: 0;
  line-height: 32px;
  display: inline-block;
}
.upcoming-orders1 {
  position: relative;
  width: 1072px;
  height: 32px;
}
.background16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-100);
}
.title17 {
  position: absolute;
  top: calc(50% - 8px);
  left: 40px;
  line-height: 16px;
  display: inline-block;
  width: 264px;
}
.background17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--primary-contrast);
}
.text12 {
  position: absolute;
  width: 33.33%;
  top: calc(50% - 8px);
  left: 33.33%;
  line-height: 16px;
  display: inline-block;
}
.quantity2 {
  position: absolute;
  height: 100%;
  width: 7.89%;
  top: 0;
  right: 92.11%;
  bottom: 0;
  left: 0;
  text-align: center;
  color: var(--color-darkgray);
}
.dishes1,
.item-12,
.item-23 {
  position: absolute;
  top: calc(50% + 6px);
  left: 0;
  width: 304px;
  height: 24px;
}
.dishes1,
.item-12 {
  top: calc(50% - 30px);
}
.dishes1 {
  top: calc(50% - 37px);
  left: 16px;
  height: 60px;
}
.text14 {
  position: absolute;
  top: calc(50% - 9px);
  left: 24px;
  line-height: 18px;
}
.icons16pxclock1 {
  position: absolute;
  height: 88.89%;
  width: 20.78%;
  top: 5.56%;
  right: 79.22%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.item-31 {
  position: absolute;
  top: calc(50% + 9px);
  left: 130px;
  width: 77px;
  height: 18px;
}
.icons16pxcalendar1 {
  height: 97.78%;
  width: 14.04%;
  top: 1.11%;
  right: 85.96%;
  bottom: 1.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.background19,
.icons16pxcalendar1,
.item-24 {
  position: absolute;
  left: 0;
}
.item-24 {
  top: calc(50% + 9px);
  width: 114px;
  height: 18px;
}
.background19 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: rgba(38, 38, 38, 0.1);
}
.text16 {
  position: absolute;
  top: 4px;
  right: 8px;
  line-height: 16px;
  font-weight: 600;
}
.item-13,
.title19 {
  position: absolute;
  top: 0;
}
.item-13 {
  height: 44.44%;
  width: 21.38%;
  right: 0;
  bottom: 55.56%;
  left: 78.62%;
  text-align: center;
  font-size: var(--text-caption-2-semi-bold-size);
  color: #414141;
}
.title19 {
  left: 0;
  font-size: var(--text-h4-bold-size);
  line-height: 24px;
  display: inline-block;
  color: var(--colors-text-dark-182135-100);
  width: 207px;
}
.information2 {
  position: absolute;
  top: calc(50% - 115px);
  left: 16px;
  width: 304px;
  height: 54px;
  color: var(--color-dimgray);
}
.bounding-box3,
.icon3,
.item-22 {
  position: absolute;
  height: 100%;
  width: 47.73%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 52.27%;
}
.bounding-box3,
.icon3 {
  width: 100%;
  left: 0;
}
.icon3 {
  height: 58.33%;
  top: 25%;
  bottom: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons12pxchevron-down1 {
  position: absolute;
  top: calc(50% - 6px);
  left: 292px;
  width: 12px;
  height: 12px;
}
.title20 {
  position: absolute;
  width: 85.53%;
  top: calc(50% - 8px);
  left: 0;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
}
.dishes2,
.see-more1 {
  position: absolute;
  left: 16px;
  width: 304px;
}
.see-more1 {
  top: calc(50% + 35px);
  height: 16px;
  display: none;
}
.dishes2 {
  top: calc(50% - 37px);
  height: 60px;
  color: var(--colors-text-dark-182135-100);
}
.icons16pxclock2 {
  position: absolute;
  height: 88.89%;
  width: 21.05%;
  top: 5.56%;
  right: 78.95%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.item-32 {
  position: absolute;
  top: calc(50% + 9px);
  left: 153px;
  width: 76px;
  height: 18px;
}
.icons16pxcalendar2 {
  position: absolute;
  height: 97.78%;
  width: 11.68%;
  top: 1.11%;
  right: 88.32%;
  bottom: 1.11%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.item-26 {
  position: absolute;
  top: calc(50% + 9px);
  left: 0;
  width: 137px;
  height: 18px;
}
.background23 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-dimgray-100);
}
.background23,
.item-15,
.title23 {
  position: absolute;
  top: 0;
}
.item-15 {
  height: 44.44%;
  width: 24.34%;
  right: 0;
  bottom: 55.56%;
  left: 75.66%;
  text-align: center;
  font-size: var(--text-caption-2-semi-bold-size);
  color: var(--color-black);
}
.title23 {
  left: 0;
  font-size: var(--text-h4-bold-size);
  line-height: 24px;
  display: inline-block;
  color: var(--colors-text-dark-182135-100);
  width: 198px;
}
.cardsorderprevious1,
.orders1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cardsorderprevious1 {
  height: 100%;
  width: 47.73%;
  top: 0;
  right: 52.27%;
  color: var(--color-darkslateblue-200);
}
.orders1 {
  height: 80.37%;
  width: 65.67%;
  top: 19.63%;
  right: 34.33%;
}
.blank-line3 {
  margin: 0;
}
.title24 {
  position: absolute;
  width: 100%;
  top: calc(50% - 163px);
  left: 0;
  font-size: var(--body-1-bold-size);
  line-height: 32px;
  display: inline-block;
}
.previous-orders1 {
  position: relative;
  width: 1072px;
  height: 326px;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
}
.upcoming-orders-group {
  width: 736px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-1-bold-size);
  color: var(--colors-text-dark-182135-100);
  font-family: var(--text-h4-bold);
}
.divider24 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.account-info8,
.login6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-info8 {
  align-self: stretch;
}
.login6 {
  flex: 1;
}
.payment-methods5,
.profile-setting5 {
  background-color: var(--color-gray-600);
  display: flex;
  align-items: flex-start;
}
.payment-methods5 {
  width: 1120px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-61xl) 0 var(--padding-117xl);
  box-sizing: border-box;
  gap: var(--gap-109xl);
  text-align: left;
  font-size: var(--text-h5-semi-bold-size);
}
.profile-setting5 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-141xl);
  gap: var(--gap-3xs);
}
.divider25 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.base6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.about7,
.containers6,
.products6 {
  position: absolute;
  width: 8.14%;
  top: calc(50% - 153px);
  left: 15.42%;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.about7,
.products6 {
  width: 16.31%;
  top: calc(50% - 97.27px);
  left: 63.44%;
  line-height: 24px;
  font-weight: 600;
}
.about7 {
  width: 11.1%;
  top: calc(50% - 43.27px);
}
.social-networkinstagram-icon6 {
  position: absolute;
  height: 11.06%;
  top: 88.94%;
  right: 314px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon6,
.social-networklinkedin-icon6,
.social-networktwitter-icon6 {
  position: absolute;
  height: 11.06%;
  top: 88.94%;
  right: 354px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon6,
.social-networklinkedin-icon6 {
  right: 394px;
}
.social-networkfacebook-icon6 {
  right: 434px;
}
.follow-us12,
.follow-us13 {
  position: absolute;
  top: calc(50% + 8.73px);
  right: 0;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 166px;
}
.follow-us13 {
  top: calc(50% - 97.27px);
  right: 288px;
}
.helloforpeoplestud6 {
  position: relative;
  line-height: 25px;
  display: inline-block;
  width: 263px;
}
.helloforpeoplestud-parent4 {
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-400);
  font-family: var(--font-lato);
}
.products-parent4 {
  position: absolute;
  width: 31.53%;
  top: calc(50% - 93px);
  right: 53.06%;
  left: 15.42%;
  height: 194.54px;
  font-size: var(--text-h4-bold-size);
  color: var(--color-darkslategray-500);
  font-family: var(--caption-2);
}
.background24 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-900);
}
.google-play-icon6 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 62.15px);
  width: 126.65px;
  height: 31px;
}
.badgegoogle-play-market45px6 {
  position: relative;
  width: 165px;
  height: 45px;
}
.badgegoogle-play-market45px-wrapper3 {
  position: absolute;
  top: 105px;
  left: 1036px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent9 {
  position: relative;
  width: 1440px;
  height: 432px;
  text-align: left;
  font-size: var(--body-1-bold-size);
  color: var(--color-gray-900);
  font-family: var(--h2);
}
.desktopmy-orders-child {
  position: relative;
  width: 1440px;
  height: 413px;
}
.desktopmy-orders1 {
  position: absolute;
  top: 0;
  left: -25px;
  height: 1038px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.patient-appointment {
  position: relative;
  width: 100%;
  height: 1129px;
  text-align: center;
  font-size: var(--text-h4-bold-size);
  color: var(--color-slategray-200);
  font-family: var(--headline-2);
}
