.group-child10 {
  position: absolute;
  top: 0.79px;
  left: -49.99px;
  border-radius: var(--br-81xl);
  background-color: var(--color-slateblue);
  width: 50px;
  height: 50.99px;
  transform: rotate(-0.91deg);
  transform-origin: 0 0;
}
.arrow-left-2-icon9 {
  position: absolute;
  top: -31.31px;
  left: -31.5px;
  width: 12.19px;
  height: 12.43px;
  overflow: hidden;
}
.rectangle-parent13 {
  position: relative;
  box-shadow: 0 181px 51px transparent, 0 116px 46px rgba(0, 0, 0, 0.01),
    0 65px 39px rgba(0, 0, 0, 0.04), 0 29px 29px rgba(0, 0, 0, 0.06),
    0 7px 16px rgba(0, 0, 0, 0.07), 0 0 0 rgba(0, 0, 0, 0.08);
  width: 50px;
  height: 50.99px;
  transform: rotate(179.09deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.vector-icon11 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya10 {
  position: relative;
  line-height: 40px;
}
.vector-parent9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--body-1-bold-size);
  color: var(--black);
  font-family: var(--caption-2);
}
.divider26 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.home8 {
  position: relative;
  line-height: 16px;
  cursor: pointer;
}
.left-content8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.chat-icon-clipart-transparent5 {
  position: absolute;
  top: 0;
  left: -29.62px;
  width: 29.62px;
  height: 32.25px;
  object-fit: cover;
}
.chat-icon-clipart-transparent-wrapper3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.62px;
  height: 32.25px;
}
.group-wrapper10 {
  position: relative;
  width: 29.62px;
  height: 32.25px;
}
.group-wrapper9 {
  position: absolute;
  top: 13.5px;
  left: 56.87px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper24 {
  position: relative;
  width: 44px;
  height: 39px;
}
.button-icon-only-regular5 {
  position: absolute;
  top: 0.28px;
  left: 0;
  border-radius: var(--br-10xs);
  width: 6.62px;
  height: 4.95px;
}
.div18 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.badge-primary5 {
  position: absolute;
  top: 0;
  left: 3.31px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-slategray-200);
  box-sizing: border-box;
  width: 3.68px;
  height: 2.75px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-7xs);
}
.button-icon-only-regular-parent3 {
  position: relative;
  width: 6.99px;
  height: 5.23px;
}
.frame-parent26 {
  width: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.frame-wrapper23 {
  position: absolute;
  top: 0;
  left: 112px;
  width: 112px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-wrapper22 {
  position: relative;
  width: 112px;
  height: 55px;
}
.nav-content-inner5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--primary-contrast);
  font-family: var(--headings-h6);
}
.nav-content8 {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.divider27 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav9 {
  background-color: var(--color-gray-600);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconsuserline6 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconsuserline-parent2 {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  cursor: pointer;
}
.my-reports {
  flex: 1;
  position: relative;
  line-height: 16px;
}
.iconscredit-cardline-group {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--color-black);
}
.iconsbellline6 {
  position: relative;
  width: 16px;
  height: 16px;
}
.categories3,
.iconsbellline-parent4 {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.categories3 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-600);
  box-shadow: var(--depth-4);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 256px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-13xl);
  gap: var(--gap-21xl);
}
.my-reports1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 56px;
}
.label3 {
  position: relative;
  line-height: 16px;
}
.button8,
.title25 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button8 {
  border-radius: var(--br-71xl);
  border: 2px solid var(--color-gainsboro);
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  opacity: 0;
  font-size: var(--text-h5-semi-bold-size);
}
.title25 {
  align-self: stretch;
  justify-content: space-between;
}
.upload-reports {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  width: 735px;
}
.button-wrapper,
.button9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button9 {
  border-radius: var(--br-71xl);
  background-color: var(--color-gray-900);
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
}
.button-wrapper {
  width: 735px;
  height: 108px;
  justify-content: space-between;
}
.my-files {
  position: relative;
  line-height: 12px;
  text-transform: uppercase;
}
.iconscheckline1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconscheckline-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.simple-input25,
.single-input-field24 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.single-input-field24 {
  flex: 1;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gray-900);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
}
.simple-input25 {
  height: 72px;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--font-size-11xl);
}
.text22 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.single-input-field25 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
}
.simple-input-wrapper,
.simple-input26,
.single-input-field25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.simple-input26 {
  flex: 1;
  height: 72px;
  flex-direction: column;
}
.simple-input-wrapper {
  align-self: stretch;
  flex-direction: row;
  color: var(--color-slategray-200);
}
.ratio-button-icon1 {
  position: relative;
  border-radius: var(--br-9xs);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.save-information {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.checkbox1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-gray-900);
}
.simple-input-parent6 {
  width: 735px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
  text-align: left;
  color: var(--color-black);
  font-family: var(--caption-2);
}
.frame-parent27,
.upload-reports-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent27 {
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--text-h5-semi-bold-size);
  color: var(--color-gray-600);
  font-family: var(--headline-2);
}
.upload-reports-parent {
  gap: var(--gap-base);
}
.divider28 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.account-info10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.account-info9 {
  align-self: stretch;
  text-align: left;
  font-size: var(--body-1-bold-size);
  font-family: var(--caption-2);
}
.account-info9,
.login7,
.login8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.login8 {
  width: 736px;
  gap: var(--gap-45xl);
}
.login7 {
  flex: 1;
  text-align: center;
  font-size: var(--headline-2-size);
  color: var(--color-gray-1000);
}
.payment-methods6,
.profile-setting6 {
  background-color: var(--color-gray-600);
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.payment-methods6 {
  width: 1120px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-61xl) 0 var(--padding-117xl);
  gap: var(--gap-109xl);
}
.profile-setting6 {
  height: 852px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-141xl);
  text-align: left;
  font-size: var(--text-h5-semi-bold-size);
}
.divider29 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.base7,
.desktopmy-payments4 {
  position: absolute;
  top: 0;
  left: 0;
}
.desktopmy-payments4 {
  height: 969px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.base7 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-whitesmoke-200);
}
.about8,
.containers7,
.products7 {
  position: absolute;
  width: 8.14%;
  top: calc(50% - 153px);
  left: 15.42%;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.about8,
.products7 {
  width: 16.31%;
  top: calc(50% - 97.27px);
  left: 63.44%;
  line-height: 24px;
  font-weight: 600;
}
.about8 {
  width: 11.1%;
  top: calc(50% - 43.27px);
}
.social-networkinstagram-icon7 {
  position: absolute;
  height: 11.06%;
  top: 88.94%;
  right: 314px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon7,
.social-networklinkedin-icon7,
.social-networktwitter-icon7 {
  position: absolute;
  height: 11.06%;
  top: 88.94%;
  right: 354px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon7,
.social-networklinkedin-icon7 {
  right: 394px;
}
.social-networkfacebook-icon7 {
  right: 434px;
}
.follow-us14,
.follow-us15 {
  position: absolute;
  top: calc(50% + 8.73px);
  right: 0;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 166px;
}
.follow-us15 {
  top: calc(50% - 97.27px);
  right: 288px;
}
.helloforpeoplestud7 {
  position: relative;
  line-height: 25px;
  display: inline-block;
  width: 263px;
}
.helloforpeoplestud-parent5 {
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-400);
  font-family: var(--font-lato);
}
.products-parent5 {
  position: absolute;
  width: 31.53%;
  top: calc(50% - 93px);
  right: 53.06%;
  left: 15.42%;
  height: 194.54px;
  font-size: var(--text-h4-bold-size);
  color: var(--color-darkslategray-500);
  font-family: var(--caption-2);
}
.background25,
.base-parent5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background25 {
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-900);
}
.google-play-icon7 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 62.15px);
  width: 126.65px;
  height: 31px;
}
.badgegoogle-play-market45px7 {
  position: relative;
  width: 165px;
  height: 45px;
}
.badgegoogle-play-market45px-wrapper4 {
  position: absolute;
  top: 105px;
  left: 1036px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent10 {
  position: absolute;
  top: 953px;
  left: 0;
  width: 1440px;
  height: 432px;
  text-align: left;
  font-size: var(--body-1-bold-size);
  color: var(--color-gray-900);
  font-family: var(--h2);
}
.patient-my-reports {
  position: relative;
  width: 100%;
  height: 1385px;
  text-align: center;
  font-size: var(--text-h4-bold-size);
  color: var(--color-slategray-200);
  font-family: var(--headline-2);
}
