.nav-content-child2,
.vector-icon16 {
  position: relative;
  width: 142px;
  height: 82.5px;
}
.vector-icon16 {
  width: 40px;
  height: 40px;
}
.vaidhya13 {
  position: relative;
  line-height: 40px;
}
.vector-parent14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button22,
.divider49 {
  background-color: var(--color-gainsboro);
}
.button22 {
  border-radius: var(--br-71xl);
  width: 172px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-1-bold-size);
  color: var(--black);
  font-family: var(--caption-2);
}
.divider49 {
  position: relative;
  border-radius: var(--br-11xs);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.home11 {
  position: relative;
  line-height: 16px;
  cursor: pointer;
}
.left-content13 {
  width: 680px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.chat-icon-clipart-transparent8 {
  position: absolute;
  top: 0;
  left: -29.62px;
  width: 29.62px;
  height: 32.25px;
  object-fit: cover;
}
.chat-icon-clipart-transparent-wrapper6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.62px;
  height: 32.25px;
}
.group-wrapper16 {
  position: relative;
  width: 29.62px;
  height: 32.25px;
}
.group-wrapper15 {
  position: absolute;
  top: 13.5px;
  left: 56.87px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper36 {
  position: relative;
  width: 44px;
  height: 39px;
}
.button-icon-only-regular8 {
  position: absolute;
  top: 0.28px;
  left: 0;
  border-radius: var(--br-10xs);
  width: 6.62px;
  height: 4.95px;
}
.div24 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.badge-primary8 {
  position: absolute;
  top: 0;
  left: 3.31px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-slategray-200);
  box-sizing: border-box;
  width: 3.68px;
  height: 2.75px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-7xs);
}
.button-icon-only-regular-parent6 {
  position: relative;
  width: 6.99px;
  height: 5.23px;
}
.frame-parent34 {
  width: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.frame-wrapper35 {
  position: absolute;
  top: 0;
  left: 112px;
  width: 112px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.nav-content-inner10 {
  position: relative;
  width: 112px;
  height: 55px;
  text-align: left;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--primary-contrast);
  font-family: var(--headings-h6);
}
.nav-content13 {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.divider50 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav14 {
  background-color: var(--color-gray-600);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconsuserline11 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.personal-info7 {
  flex: 1;
  position: relative;
  line-height: 16px;
}
.iconslockline-parent4,
.iconsuserline-parent5 {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.iconsuserline-parent5 {
  color: var(--color-gray-1000);
}
.iconslockline-parent4 {
  cursor: pointer;
}
.iconsbellline14 {
  position: relative;
  width: 16px;
  height: 16px;
}
.categories6,
.iconsbellline-parent12 {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.categories6 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-600);
  box-shadow: var(--depth-4);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 256px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-13xl);
  gap: var(--gap-21xl);
}
.personal-info8 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 56px;
}
.title29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.account-info16 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-h4-bold-size);
  line-height: 24px;
  font-weight: 500;
  color: var(--color-gray-1000);
}
.display-name {
  position: relative;
  line-height: 12px;
  text-transform: uppercase;
}
.enter-your-display {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.single-input-field38 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gainsboro);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  font-size: var(--text-h5-semi-bold-size);
  color: var(--color-slategray-200);
}
.simple-input-parent11,
.simple-input39,
.single-input-field38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.simple-input39 {
  flex: 1;
  height: 72px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.simple-input-parent11 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.single-input-field41 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gainsboro);
  overflow: hidden;
}
.account-info15,
.simple-input43 {
  align-self: stretch;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.account-info15 {
  height: 336px;
  gap: var(--gap-13xl);
}
.pin-code2 {
  position: relative;
  line-height: 12px;
  text-transform: uppercase;
  display: inline-block;
  width: 75px;
}
.type-here11 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 240px;
  flex-shrink: 0;
}
.single-input-field44 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gainsboro);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-base);
  font-size: var(--text-h5-semi-bold-size);
  color: var(--color-slategray-200);
}
.social4 {
  align-self: stretch;
  flex-direction: column;
}
.simple-input46,
.single-input-field45,
.social4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.single-input-field45 {
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 294px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  font-size: var(--text-h5-semi-bold-size);
  color: var(--color-slategray-200);
}
.simple-input46 {
  width: 736px;
  height: 91px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.single-input-field46 {
  align-self: stretch;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-gainsboro);
  box-sizing: border-box;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
}
.simple-input47 {
  width: 358px;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.label13 {
  position: relative;
  line-height: 16px;
}
.button23 {
  border-radius: var(--br-71xl);
  background-color: var(--color-gray-900);
  width: 202px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--text-h4-bold-size);
  color: var(--color-gray-600);
  font-family: var(--headline-2);
}
.input-text-fields5,
.login17,
.title-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-text-fields5 {
  height: 819px;
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--color-silver-100);
  font-family: var(--caption-2);
}
.login17,
.title-parent2 {
  flex: 1;
}
.title-parent2 {
  width: 736px;
  gap: var(--gap-45xl);
}
.login17 {
  height: 708px;
  text-align: center;
  font-size: var(--headline-2-size);
  color: var(--color-gray-1000);
}
.payment-methods9,
.profile-setting9 {
  background-color: var(--color-gray-600);
  height: 880px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.payment-methods9 {
  width: 1140px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-61xl) 0 var(--padding-117xl);
  gap: var(--gap-109xl);
}
.profile-setting9 {
  width: 1305px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--padding-141xl);
  text-align: left;
  font-size: var(--text-h5-semi-bold-size);
}
.divider51 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.base10,
.desktopmy-payments9 {
  position: absolute;
  top: 0;
  left: 0;
}
.desktopmy-payments9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.base10 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-whitesmoke-200);
}
.about11,
.containers10,
.products10 {
  position: absolute;
  width: 8.14%;
  top: calc(50% - 153px);
  left: 15.42%;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.about11,
.products10 {
  width: 16.31%;
  top: calc(50% - 97.27px);
  left: 63.44%;
  line-height: 24px;
  font-weight: 600;
}
.about11 {
  width: 11.1%;
  top: calc(50% - 43.27px);
}
.social-networkinstagram-icon12 {
  position: absolute;
  height: 11.06%;
  top: 88.94%;
  right: 314px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon12,
.social-networklinkedin-icon12,
.social-networktwitter-icon12 {
  position: absolute;
  height: 11.06%;
  top: 88.94%;
  right: 354px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon12,
.social-networklinkedin-icon12 {
  right: 394px;
}
.social-networkfacebook-icon12 {
  right: 434px;
}
.follow-us20,
.follow-us21 {
  position: absolute;
  top: calc(50% + 8.73px);
  right: 0;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 166px;
}
.follow-us21 {
  top: calc(50% - 97.27px);
  right: 288px;
}
.helloforpeoplestud10 {
  position: relative;
  line-height: 25px;
  display: inline-block;
  width: 263px;
}
.helloforpeoplestud-parent10 {
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-400);
  font-family: var(--font-lato);
}
.products-parent10 {
  position: absolute;
  width: 31.53%;
  top: calc(50% - 93px);
  right: 53.06%;
  left: 15.42%;
  height: 194.54px;
  font-size: var(--text-h4-bold-size);
  color: var(--color-darkslategray-500);
  font-family: var(--caption-2);
}
.background28,
.base-parent10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background28 {
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-900);
}
.google-play-icon10 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 62.15px);
  width: 126.65px;
  height: 31px;
}
.badgegoogle-play-market45px12 {
  position: relative;
  width: 165px;
  height: 45px;
}
.badgegoogle-play-market45px-wrapper9 {
  position: absolute;
  top: 105px;
  left: 1036px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent15 {
  position: absolute;
  top: 1175px;
  left: 0;
  width: 1440px;
  height: 432px;
  text-align: left;
  font-size: var(--body-1-bold-size);
  color: var(--color-gray-900);
  font-family: var(--h2);
}
.patient-personal-info {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  height: 1607px;
  text-align: center;
  font-size: var(--text-h4-bold-size);
  color: var(--color-slategray-200);
  font-family: var(--headline-2);
}
