.nav-content-child3 {
  position: relative;
  width: 154px;
  height: 94.01px;
  cursor: pointer;
}
.vector-icon19 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya16 {
  position: relative;
  line-height: 40px;
}
.button27,
.vector-parent17 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vector-parent17 {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button27 {
  border-radius: var(--br-71xl);
  background-color: var(--color-gray-600);
  width: 178px;
  height: 66px;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
}
.divider56 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.home14 {
  position: relative;
  line-height: 16px;
  cursor: pointer;
}
.frame-wrapper44,
.left-content16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.left-content16 {
  width: 694px;
  align-items: center;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--text-h4-bold-size);
  color: var(--color-slategray-200);
  font-family: var(--headline-2);
}
.frame-wrapper44 {
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper43 {
  position: relative;
  width: 44px;
  height: 44px;
}
.frame-wrapper42,
.nav-content-inner13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-content-inner13 {
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.nav-content16 {
  width: 1565px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.divider57 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons16pxoptions5,
.nav17 {
  position: absolute;
  overflow: hidden;
}
.nav17 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-600);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-1-bold-size);
  color: var(--black);
}
.icons16pxoptions5 {
  height: 1.48%;
  width: 14.68%;
  top: 98.15%;
  right: 0;
  bottom: 0.37%;
  left: 85.32%;
  max-width: 100%;
  max-height: 100%;
}
.title39 {
  position: absolute;
  width: 40.67%;
  top: calc(50% - 353.85px);
  left: 33.03%;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.icons24pxshopping-bag3 {
  position: absolute;
  height: 2.22%;
  width: 22.02%;
  top: 97.78%;
  right: 77.98%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.order-type3 {
  position: absolute;
  height: 25.18%;
  width: 8.37%;
  top: -21.57%;
  right: 63.63%;
  bottom: 96.38%;
  left: 28%;
  display: none;
  font-size: var(--text-h5-semi-bold-size);
  color: var(--colors-text-dark-182135-100);
  font-family: var(--text-h4-bold);
}
.component-5-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--primary-contrast);
  border: 0.5px solid var(--color-silver-100);
  box-sizing: border-box;
}
.component-5-child1,
.image-icon6 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-icon6 {
  height: 49.09%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 50.91%;
  left: 0;
  object-fit: cover;
}
.component-5-child1 {
  height: 12.53%;
  width: 18.82%;
  top: 75.46%;
  right: 6.67%;
  bottom: 12.01%;
  left: 74.51%;
}
.title40 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 219px;
}
.information8 {
  position: relative;
  width: 219px;
  height: 24px;
}
.bounding-box25,
.icon30 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icon30 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons16pxstar20 {
  position: relative;
  width: 16px;
  height: 16px;
}
.icons16pxstar-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.text28 {
  position: relative;
  line-height: 20px;
}
.frame-parent39 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--color-dimgray);
}
.information-parent2 {
  position: absolute;
  height: 16.71%;
  width: 70.59%;
  top: 64.49%;
  right: 25.49%;
  bottom: 18.8%;
  left: 3.92%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.component-51 {
  position: relative;
  width: 255px;
  height: 383px;
  cursor: pointer;
}
.information-parent3 {
  position: absolute;
  height: 16.71%;
  width: 74.12%;
  top: 64.49%;
  right: 21.96%;
  bottom: 18.8%;
  left: 3.92%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.component-61 {
  position: relative;
  width: 255px;
  height: 383px;
}
.information-parent4 {
  position: absolute;
  height: 30.29%;
  width: 78.04%;
  top: 66.58%;
  right: 16.08%;
  bottom: 3.13%;
  left: 5.88%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.ant-designpicture-filled2 {
  position: absolute;
  height: 24.28%;
  width: 36.47%;
  top: 12.27%;
  right: 31.37%;
  bottom: 63.45%;
  left: 32.16%;
  overflow: hidden;
}
.information-parent5 {
  position: absolute;
  top: calc(50% + 60.5px);
  left: calc(50% - 103.5px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.icon50 {
  position: relative;
  width: 20px;
  height: 16px;
}
.component-5-container,
.component-5-group {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  color: var(--colors-text-dark-182135-100);
}
.component-5-group {
  top: 1314px;
  left: 168px;
  width: 1106px;
}
.component-5-container {
  top: 1890px;
  left: 170px;
}
.recommended,
.search-result {
  position: absolute;
  top: 1787px;
  left: 173px;
  font-size: var(--text-h1-bold-size);
  letter-spacing: -0.01em;
  line-height: 40px;
  font-family: var(--headline-2);
}
.search-result {
  top: 1195px;
}
.left-arrow1 {
  border-radius: var(--br-21xl);
  padding: var(--padding-5xs);
}
.arrows1,
.left-arrow1,
.right-arrow1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.right-arrow1 {
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-gainsboro);
  padding: var(--padding-5xs);
}
.arrows1 {
  position: absolute;
  top: 1407px;
  left: 1307px;
  gap: var(--gap-5xs);
}
.dots-icon {
  position: absolute;
  height: 0.21%;
  width: 5.56%;
  top: 32.13%;
  right: 47.22%;
  bottom: 67.67%;
  left: 47.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mobile-app {
  position: absolute;
  top: calc(50% + 1919px);
  right: 222px;
  font-size: var(--font-size-mid);
  line-height: 25px;
  font-family: var(--font-league-script);
  color: #304659;
  display: inline-block;
  width: 165px;
}
.icon72 {
  position: relative;
  width: 20px;
  height: 16.28px;
}
.connect-to-our {
  margin: 0;
}
.connect-to-our-container {
  position: absolute;
  top: 422px;
  left: calc(50% - 581.5px);
  font-size: var(--headline-1-size);
  letter-spacing: -0.02em;
  line-height: 64px;
  font-family: var(--headline-2);
  color: var(--color-gray-900);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.text36 {
  position: absolute;
  top: 476px;
  left: 259px;
  line-height: 24px;
  display: inline-block;
  width: 549px;
  height: 49px;
}
.schedule-appointment-child {
  position: absolute;
  top: 494px;
  left: 667px;
  border-radius: 154px;
  width: 582px;
  height: 429px;
  object-fit: cover;
}
.base15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
}
.about14,
.containers13,
.products13 {
  position: absolute;
  width: 8.14%;
  top: calc(50% - 147.05px);
  left: 15.42%;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.about14,
.products13 {
  width: 13.89%;
  top: calc(50% - 100.64px);
  left: 57.34%;
  line-height: 24px;
  font-weight: 600;
}
.about14 {
  width: 9.45%;
  top: calc(50% - 46.64px);
}
.social-networkinstagram-icon15 {
  position: absolute;
  height: 11.97%;
  top: 88.03%;
  right: 316.02px;
  bottom: 0;
  max-height: 100%;
  width: 20.13px;
}
.social-networkfacebook-icon15,
.social-networklinkedin-icon15,
.social-networktwitter-icon15 {
  position: absolute;
  height: 11.97%;
  top: 88.03%;
  right: 356.28px;
  bottom: 0;
  max-height: 100%;
  width: 20.13px;
}
.social-networkfacebook-icon15,
.social-networklinkedin-icon15 {
  right: 396.54px;
}
.social-networkfacebook-icon15 {
  right: 436.79px;
}
.follow-us26,
.follow-us27 {
  position: absolute;
  top: calc(50% + 5.36px);
  right: 0;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 167.07px;
}
.follow-us27 {
  top: calc(50% - 100.64px);
  right: 289.85px;
}
.helloforpeoplestud13 {
  position: relative;
  line-height: 25px;
  display: inline-block;
  width: 263px;
}
.helloforpeoplestud-parent13 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-400);
  font-family: var(--font-lato);
}
.products-parent13 {
  position: absolute;
  width: 37.03%;
  top: calc(50% - 91.05px);
  right: 48.79%;
  left: 14.18%;
  height: 209.28px;
  font-size: var(--text-h4-bold-size);
  color: var(--color-darkslategray-500);
  font-family: var(--caption-2);
}
.background35,
.base-parent13 {
  position: absolute;
  height: 100%;
  width: 100.64%;
  top: -6.05%;
  right: 0;
  bottom: 6.05%;
  left: -0.64%;
}
.background35 {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-900);
}
.google-play-icon13 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 62.15px);
  width: 126.65px;
  height: 31px;
}
.badgegoogle-play-market45px15 {
  position: relative;
  width: 165px;
  height: 45px;
}
.badgegoogle-play-market45px-wrapper12 {
  position: absolute;
  top: 211px;
  left: 1036px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent18 {
  position: absolute;
  top: 2349px;
  left: 0;
  width: 1566px;
  height: 503px;
  font-size: var(--body-1-bold-size);
  color: var(--color-gray-900);
  font-family: var(--h2);
}
.arrow-left-2-icon13 {
  position: absolute;
  top: 54px;
  left: 368px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.search-for-doctors {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.form-title-group {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs);
}
.specialization {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 12px;
}
.label-container {
  background-color: var(--primary-contrast);
  height: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.avatar,
.op {
  align-items: center;
  justify-content: center;
}
.op {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
  display: flex;
}
.avatar {
  border-radius: var(--br-45xl);
  background-color: var(--grey-grey-400);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip1 {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 18px;
}
.typography {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs);
  text-align: left;
  font-size: var(--components-chip-size);
  color: var(--text-primary);
}
.cancel-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.container1 {
  border-radius: var(--br-base);
  background-color: var(--grey-grey-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs);
}
.chip,
.muiautocompletetag {
  align-items: flex-start;
  justify-content: flex-start;
}
.chip {
  display: flex;
  flex-direction: column;
}
.muiautocompletetag {
  display: none;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.skin-cancer {
  flex: 1;
  position: relative;
  font-size: var(--text-h4-bold-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  color: var(--text-primary);
  text-align: left;
}
.active {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) 0;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--grey-grey-700);
}
.arrival-field,
.departure-field,
.input4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input4 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  box-sizing: border-box;
  height: 56px;
  padding: 0 var(--padding-xs);
}
.arrival-field,
.departure-field {
  flex: 1;
}
.arrival-field {
  align-self: stretch;
}
.date-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.inputs-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs);
  gap: var(--gap-3xs);
}
.button28 {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 146.98px;
}
.button-group,
.search-flights-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-flights-button {
  border-radius: var(--br-9xs);
  background-color: #590ef9;
  width: 164px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  transition: 0.3s;
}
.search-flights-button:hover {
  background-color: #dc880b;
}
.button-group {
  padding: var(--padding-8xs);
  text-align: center;
  font-size: var(--components-button-large-size);
  color: var(--primary-contrast);
}
.form-inputs-row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--text-secondary);
}
.schedule-appointment1,
.search-form {
  background-color: var(--primary-contrast);
}
.search-form {
  position: absolute;
  top: 974px;
  left: 179px;
  border-radius: var(--br-3xs);
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  font-size: 20px;
  color: #303030;
  font-family: var(--components-button-large);
}
.schedule-appointment1 {
  position: relative;
  width: 100%;
  height: 2810px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-h4-bold-size);
  color: var(--color-black);
  font-family: var(--caption-2);
}
@media screen and (max-width: 960px) {
  .inputs-row {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .search-flights-button {
    margin-right: auto;
  }
  .button-group {
    width: 100%;
    text-align: left;
  }
  .form-inputs-row,
  .search-form {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .search-for-doctors {
    width: 100%;
    padding-bottom: var(--padding-3xs);
    margin-bottom: 6px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eaeaea;
    flex: unset;
    align-self: stretch;
  }
  .form-title-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .arrival-field,
  .departure-field {
    flex: unset;
    align-self: stretch;
  }
  .inputs-row {
    flex-direction: column;
  }
  .search-flights-button {
    width: 100% !important;
  }
  .search-form {
    margin-top: 20px;
  }
}
