.desktopmy-payments-item {
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.divider45 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.base-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about-icon1,
.containers-icon1,
.products-icon1 {
  position: absolute;
  width: 6.32%;
  top: calc(50% - 148.04px);
  right: 78.22%;
  left: 15.46%;
  max-width: 100%;
  overflow: hidden;
  height: 21.6px;
}
.about-icon1,
.products-icon1 {
  width: 18.43%;
  top: calc(50% - 94.19px);
  right: 6.01%;
  left: 75.55%;
  height: 11.98px;
}
.about-icon1 {
  width: 12.64%;
  top: calc(50% - 40.19px);
  right: 11.99%;
  left: 75.37%;
}
.social-networkinstagram-icon11 {
  position: absolute;
  height: 11.43%;
  top: 88.57%;
  right: 242.65px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon11,
.social-networklinkedin-icon11,
.social-networktwitter-icon11 {
  position: absolute;
  height: 11.43%;
  top: 88.57%;
  right: 282.65px;
  bottom: 0;
  max-height: 100%;
  width: 20px;
}
.social-networkfacebook-icon11,
.social-networklinkedin-icon11 {
  right: 322.65px;
}
.social-networkfacebook-icon11 {
  right: 362.65px;
}
.follow-us-icon2,
.follow-us-icon3 {
  position: absolute;
  top: calc(50% + 11.81px);
  right: 0;
  width: 94.09px;
  height: 16.06px;
}
.follow-us-icon3 {
  top: calc(50% - 93.66px);
  right: 294.34px;
  width: 87.75px;
  height: 11.46px;
}
.helloforpeoplestud-icon1,
.icon5 {
  position: relative;
  width: 177.42px;
  height: 15.62px;
}
.icon5 {
  width: 109.31px;
  height: 12.45px;
}
.new-york-61-west-ro1 {
  position: relative;
  width: 190.18px;
  height: 14.82px;
}
.helloforpeoplestud-parent9 {
  position: absolute;
  top: 25.84px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.products-parent9 {
  position: absolute;
  width: 26.57%;
  top: calc(50% - 86.84px);
  right: 58.01%;
  left: 15.42%;
  height: 188.38px;
}
.base-parent9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.badgegoogle-play-market45px11 {
  position: relative;
  width: 165px;
  height: 45px;
}
.badgegoogle-play-market45px-wrapper8 {
  position: absolute;
  top: 105px;
  left: 1036px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent14 {
  position: relative;
  width: 1440px;
  height: 432px;
}
.desktopmy-payments8 {
  position: absolute;
  top: calc(50% - 132px);
  left: -5px;
  width: 1440px;
  height: 1356px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timecare-is-an {
  margin: 0;
}
.timecare-is-an-container {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  width: 693px;
  height: 42px;
  flex-shrink: 0;
}
.simple-input33,
.single-input-field32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.single-input-field32 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gainsboro);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
}
.simple-input33 {
  width: 736px;
  height: 102px;
  flex-direction: column;
}
.simple-input34 {
  flex: 1;
  height: 72px;
}
.simple-input-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.age-of-the,
.family-members {
  position: absolute;
  top: 13px;
  left: 7px;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  width: 135px;
  height: 21px;
}
.family-members {
  left: 211px;
}
.age-of-the-person-parent {
  position: relative;
  width: 815px;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}
.type-here-icon5 {
  position: relative;
  width: 68.5px;
  height: 14.03px;
}
.simple-input35,
.simple-input36 {
  width: 185px;
  height: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.simple-input36 {
  width: 194px;
}
.adress {
  position: absolute;
  top: 5px;
  left: 6px;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  width: 49px;
  height: 21px;
}
.adress-wrapper {
  position: relative;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 163px;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
}
.single-input-field35 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gainsboro);
  overflow: hidden;
}
.account-info14,
.simple-input37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.simple-input37 {
  width: 300px;
  height: 29px;
}
.account-info14 {
  align-self: stretch;
  height: 336px;
  gap: 22px;
}
.what-is-the {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  width: 236px;
  height: 22px;
  flex-shrink: 0;
}
.single-input-field36 {
  align-self: stretch;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gainsboro);
  box-sizing: border-box;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.male-or-female1 {
  position: relative;
  width: 98.22px;
  height: 8.63px;
}
.simple-input-wrapper1,
.simple-input38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.simple-input38 {
  flex: 1;
  height: 72px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.simple-input-wrapper1 {
  align-self: stretch;
  flex-direction: row;
}
.submit2 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  width: 58px;
  height: 15px;
  flex-shrink: 0;
}
.button21 {
  border-radius: var(--br-71xl);
  background-color: var(--color-gray-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
}
.social3 {
  align-self: stretch;
  height: 273px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  color: var(--primary-contrast);
}
.divider46 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}
.input-text-fields-wrapper,
.input-text-fields4,
.login16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input-text-fields4 {
  align-self: stretch;
  height: 717.03px;
  justify-content: space-between;
}
.input-text-fields-wrapper,
.login16 {
  width: 815px;
  height: 699px;
  justify-content: flex-start;
}
.login16 {
  position: absolute;
  top: 382px;
  left: 303px;
  width: 810px;
}
.nav-content-child1 {
  position: relative;
  width: 142px;
  height: 80.99px;
  cursor: pointer;
}
.vaidhya-icon1,
.vector-icon15 {
  position: relative;
  width: 40px;
  height: 40px;
}
.vaidhya-icon1 {
  width: 82.41px;
  height: 19.73px;
}
.vector-parent13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.divider47 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
  width: 2px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.home-icon1 {
  position: relative;
  width: 43.78px;
  height: 11.39px;
  cursor: pointer;
}
.blog-icon1,
.contact-icon1,
.discover-icon1 {
  position: relative;
  width: 65.87px;
  height: 11.71px;
  cursor: pointer;
}
.blog-icon1,
.contact-icon1 {
  width: 31.01px;
  height: 15.23px;
}
.contact-icon1 {
  width: 61.98px;
  height: 11.58px;
}
.left-content12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.iconsuserline10 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper34,
.iconsuserline-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-wrapper34 {
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-wrapper33 {
  position: relative;
  width: 44px;
  height: 44px;
}
.frame-wrapper32 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-content-inner9 {
  position: relative;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.nav-content12,
.nav13 {
  width: 1440px;
  display: flex;
}
.nav-content12 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
}
.nav13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-600);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.timecare2 {
  position: absolute;
  top: 214px;
  left: 631px;
  font-size: var(--headline-2-size);
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  width: 254px;
  height: 56px;
}
.timecare-child {
  position: absolute;
  top: 330px;
  left: 304px;
  background-color: #d9d9d9;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 220px;
  height: 42px;
}
.what-is-timecare {
  position: absolute;
  top: 341px;
  left: 313px;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  width: 135px;
  height: 21px;
}
.timecare1 {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  height: 1588px;
  text-align: left;
  font-size: var(--text-caption-1-regular-18pt-line-height-size);
  color: var(--color-black);
  font-family: var(--headings-h6);
}
